<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/sunecity/template/main.xhtml">

    <ui:define name="title">
        <h:outputText value="#{template.title()}"/>
    </ui:define>

    <ui:define name="content">
        <header>
            <p:outputPanel id="north" styleClass="header">
                <ui:insert name="north"/>
            </p:outputPanel>
        </header>
        <p:outputPanel styleClass="layout-portlets-cover">
            <p:outputPanel id="center" styleClass="layout-portlets-box">
                <ui:insert name="center"/>
            </p:outputPanel>
            <footer style="height: 30px">
                <p:outputPanel id="south">
                    <ui:insert name="south"/>
                </p:outputPanel>
            </footer>
        </p:outputPanel>
        <h:form>
            <ui:repeat value="#{jsfHotkey.hotkeys}" var="hk">
                <p:hotkey bind="#{hk.bind}" actionListener="#{hk.hotkeyActionListener}"/>
            </ui:repeat>
        </h:form>
        <p:dialog widgetVar="dlgUrlDownloadLink" closeOnEscape="true"
                  header="دریافت فایل" appendTo="@(body)" modal="true" closable="true"
                  resizable="false" draggable="true" dynamic="true" showEffect="fade"
                  hideEffect="fade">
            <h:form id="frmUrlDownloadLink">
                <div align="center">
                    <h:outputLink value="#{urlDownload.path}" target="blank"
                                  onclick="PF('dlgUrlDownloadLink').hide()">
                        <h:outputText value="#{urlDownload.path}"/>
                    </h:outputLink>
                </div>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>