<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/sunecity/template/main.xhtml">

    <ui:define name="head">
        <ui:insert name="head"/>
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:remoteCommand name="browserCheck" autoRun="true" actionListener="#{browserCheck.check}"/>
        </h:form>
        <p:dialog appendTo="@(body)" widgetVar="dlgBrowser" closable="false"
                  modal="true" resizable="false" draggable="false" header="مرورگر">
            <p:panel>
                <h:outputText value="لطفا از یکی از مرورگرهای زیر برای ورود به پورتال استفاده نمایید."/>
                <ul>
                    <li><h:outputText value="Firefox نسخه ۳۰ و بالاتر"/></li>
                    <li><h:outputText value="Chrome نسخه ۴۰ و بالاتر"/></li>
                    <li><h:outputText value="Opera نسخه ۳۰ و بالاتر"/></li>
                    <li><h:outputText value="Safari نسخه ۸ و بالاتر"/></li>
                    <li><h:outputText value="IE نسخه ۱۱ و بالاتر"/></li>
                </ul>
            </p:panel>
        </p:dialog>
        <ui:insert name="body"/>
    </ui:define>
</ui:composition>
