<!DOCTYPE html>
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:s="http://sunecity.com/lilium/jsf"
      class="ui-rtl">
<f:view locale="#{languages.locale}">
    <h:head>
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <s:headImport/>
        <ui:insert name="head"/>
        <h:form>
            <title><ui:insert name="title"/></title>
        </h:form>

        <!--
        <p:outputPanel id="title">
        -->
        <!--
        </p:outputPanel>
        -->
    </h:head>
    <h:body dir="#{sunecitybundle.dir}" styleClass="ui-rtl">
        <s:bodyImport/>
        <ui:insert name="content"/>
    </h:body>
</f:view>
</html>
