body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #616161;
    margin: 0;
    background: #C3CCD5 url("#{resource['sunecity:image/background.png']}") repeat fixed center;
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

.width-30 {
    width: 30em;
}

.width-32 {
    width: 32em;
}

.width-40 {
    width: 40em;
}

.width-50 {
    width: 50em;
}

.width-60 {
    width: 60em;
}

.pixel-16 {
    width: 16px;
    height: 16px;
}

.pixel-32 {
    width: 32px;
    height: 32px;
}

img.left {
    float: left;
    margin: 0 20px 0 0;
}

img.right {
    float: right;
    margin: 0 0 0 20px;
}

.title {
    height: 30px;
    margin-left: 10px;
    padding: 8px 0 0 20px;
}

.title a {
    border-bottom: none;
    color: #FFFFFF;
}

.title a:hover {
    border-bottom: 1px dotted #000000;
}

.submenu-title {
    padding: 4px 10px;
}

.submenu-content {
    text-align: center;
}

.byline {
    margin: -60px 20px 20px 20px;
}

.byline a {
    color: #DC8700;
}

.tag {
    padding: 0 15px;
}

.entry {
    padding: 0 20px;
}

.homeMenu {
    width: 200px;
    float: left;
    margin-right: 10px
}

.themeMenu {
    overflow: auto;
    height: 300px;
    width: 200px;
}

.dp-xml {
    width: 1000px;
}

.overflow {
    overflow: auto;
}

.align-top {
    vertical-align: top;
}

.margin-top {
    margin-top: 10px;
}

.no-border td {
    border-style: hidden !important;
}

.menu {
    width: 100%;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center-page {
    margin: 0 auto;
}

.email:focus, .username:focus, .password:focus {
    direction: ltr;
    text-align: center;
}

/******* Header -- Start *******/
.header {
    position: relative;
    top: 0;
    z-index: 100;
}

/******* Header -- End *******/

/******* content -- start *******/
.layout-portlets-cover {
    width: 97%;
    margin: 0 auto;
    display: block;
}

.layout-portlets-box {
    width: 97%;
    padding: 1% 1.5%;
    margin: 8px auto;
    overflow: hidden;
    float: left;
    background-color: #F6FAFC /*#F1F6F9*/;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 0 rgba(159, 172, 183, 0.7);
    -moz-box-shadow: 0 1px 0 0 rgba(159, 172, 183, 0.7);
    box-shadow: 0 1px 0 0 rgba(159, 172, 183, 0.7);
}

h4.titlepage {
    margin-top: 7px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
    text-align: center;
}

.pagefooter {
    margin-top: 30px;
    text-align: center;
}

/******* Panel -- Start *******/
.panel {
    margin: 0 auto;
    padding: 0;
}

.panel input {
    margin-bottom: 5px;
}

.panel p {
    margin-bottom: 15px;
}

.panel button {
    font-weight: bold;
}

/******* Panel -- End *******/

.portlets-box {
    position: relative;
    margin: 7% auto;
}

.portlets-box .ui-inputfield {
    width: 98%;
    height: 31px;
    display: block;
    text-align: center;
}

.portlets-box h3.username {
    text-align: center;
    margin-bottom: 10px;
}

.portlets-box .ui-button {
    display: table;
    width: 100%;
    height: 32px;
    margin-top: 5px;
}

.portlets-box .ui-button .ui-button-text {
    font-size: 1.2em;
}

.portlets-box .ui-button .ui-button-text {
    padding: 0 !important;
}

.portlets-box .ui-button-icon-only .ui-icon.fa,
.portlets-box .ui-button-text-icon-left .ui-icon.fa,
.portlets-box .ui-button-text-icon-right .ui-icon.fa {
    margin-top: -9px !important;
}

.portlets-box button.action {
    margin-top: 15px;
}

.portlets-box button.reset {
    margin-top: 5px;
}

.portlets-box .forgot {
    position: relative;
    top: 3px;
    float: left;
}

.portlets-box .ui-selectonemenu .ui-selectonemenu-label {
    line-height: 30px;
}

/******* Report -- Start *******/
hr.separator {
    border: 0;
    color: #eaeaea;
    background-color: #eaeaea;
    height: 1px;
    padding-top: 0;
    margin-top: 5px;
}

.report-page .page-title {
    width: 430px;
}

.report-page .ui-panelgrid, .report-page .ui-panelgrid .ui-panelgrid-cell {
    border-style: hidden !important;
}

.report-page .ui-panelgrid .ui-panelgrid-cell {
    vertical-align: middle;
}

.report-dialog .footer img {
    margin-left: 10px;
}

/******* Report -- End *******/

.copyright {
    position: relative;
    bottom: 0;
    font-size: 8pt;
    text-align: center;
    margin-top: 10px;
}

.ui-dashboard-column {
    min-width: 100px;
}

.panelgrid-noborder.ui-panelgrid>*>tr,
.panelgrid-noborder.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-tabs .ui-tabs-panel {
    padding: 2px;  !important;
}