.orange-background {
    background-image: url("#{resource['sunecity:image/orange-background.svg']}");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #fb8c00;
    background-repeat: no-repeat;
    height: auto;
}

.red-background {
    background-image: url("#{resource['sunecity:image/red-background.svg']}");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #e53935;
    background-repeat: no-repeat;
    height: auto;
}

.with-auto-on-mobile {
}

.overflow-hidden {
    overflow: hidden;
}

.display-block {
    display: block;
}

.empty-box-10 {
    display: block;
    width: 100%;
    height: 10px;
    overflow: hidden;
}

.empty-box-20 {
    display: block;
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.empty-box-30 {
    display: block;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.empty-box-40 {
    display: block;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.empty-box-50 {
    display: block;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.with-100 {
    width: 100%;
}

.with-90 {
    width: 90%;
}

.with-60 {
    width: 60%;
}

.with-33 {
    width: 33.3%;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.padding-2-pixel {
    padding: 2px;
}

.text-al-center {
    text-align: center;
}

.f-s-20 {
    font-size: 20px !important;
}

.f-s-30 {
    font-size: 30px !important;
}

.f-s-80 {
    font-size: 80px !important;
}

.f-s-100 {
    font-size: 100px !important;
}

.margin-top-perc-10 {
    margin-top: 10%;
}

.margin-top-20 {
    margin-top: 20px;
}

@media (min-width: 960px) and (max-width: 1200px) {
    .with-auto-on-mobile {
        width: auto !important;
    }
}

@media (min-width: 640px) and (max-width: 960px) {
    .with-auto-on-mobile {
        width: auto !important;
    }

    .f-s-20 {
        font-size: 18px !important;
    }

    .f-s-30 {
        font-size: 28px !important;
    }

    .f-s-100 {
        font-size: 60px !important;
    }
}

@media (min-width: 480px) and (max-width: 640px) {
    .with-auto-on-mobile {
        width: auto !important;
    }

    .f-s-20 {
        font-size: 17px !important;
    }

    .f-s-30 {
        font-size: 26px !important;
    }

    .f-s-100 {
        font-size: 40px !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .with-auto-on-mobile {
        width: auto !important;
    }

    .f-s-20 {
        font-size: 17px !important;
    }

    .f-s-30 {
        font-size: 25px !important;
    }

    .f-s-100 {
        font-size: 35px !important;
    }
}

.card {
    padding: 20px;
    display: block;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-family: 'robotoregular';
    color: #546e7a;
}

.separator {
    border-bottom: solid 1px #E0E0E0;
    width: 100%;
    overflow: hidden;
    height: 0;
    margin: 10px 0;
    clear: both;
}

.shadow-effect {
    -webkit-box-shadow: 0 1px 3px 0 rgba(43, 59, 93, 0.4);
    -moz-box-shadow: 0 1px 3px 0 rgba(43, 59, 93, 0.4);
    box-shadow: 0 1px 3px 0 rgba(43, 59, 93, 0.4);
}

@media screen and (min-width: 0\0) {
    .shadow-effect {
        box-shadow: 0 0 8px 0 rgba(43, 59, 93, 0.4);
    }
}

.card:before,
.card:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.card:after {
    clear: both;
}

.bold-gray {
    color: #546E7A;
}

.orange {
    color: #FB8C00;
}

.red {
    color: #E53935;
}