<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:panelGroup id="pnlNtfTop">
		<p:notificationBar position="top" effect="slide" widgetVar="barTop"
			style="z-index:50;filter:alpha(opacity=80);opacity:0.8;#{notification.styleTop}">
			<h:form>
				<p:commandLink action="#{notification.closeTop}"
					oncomplete="barTop.hide()" styleClass="ui-icon ui-icon-closethick"
					style="float:right" />
			</h:form>
			<ui:insert name="ntfTop" />
		</p:notificationBar>
	</h:panelGroup>
	<h:panelGroup id="jsNtfTop">
		<h:form>
			<p:hotkey rendered="#{notification.showTop}" bind="ctrl+m"
				handler="barTop.show()" />
			<p:hotkey action="#{notification.closeTop}"
				rendered="#{notification.showTop}" bind="esc"
				oncomplete="barTop.hide()" />
		</h:form>
		<h:panelGroup rendered="#{notification.showTop}">
			<script type="text/javascript">jQuery (document).ready(function(){barTop.show();});</script>
		</h:panelGroup>
	</h:panelGroup>
	<h:panelGroup id="pnlNtfBottom">
		<p:notificationBar position="bottom" effect="slide"
			widgetVar="barBottom"
			style="z-index:50;filter:alpha(opacity=80);opacity:0.8;#{notification.styleBottom}">
			<h:form>
				<p:commandLink action="#{notification.closeBottom}"
					oncomplete="barBottom.hide()"
					styleClass="ui-icon ui-icon-closethick" style="float:right" />
			</h:form>
			<ui:insert name="ntfBottom" />
		</p:notificationBar>
	</h:panelGroup>
	<h:panelGroup id="jsNtfBottom">
		<h:form>
			<p:hotkey rendered="#{notification.showBottom}" bind="ctrl+m"
				handler="barBottom.show()" />
			<p:hotkey action="#{notification.closeBottom}"
				rendered="#{notification.showBottom}" bind="esc"
				oncomplete="barBottom.hide()" />
		</h:form>
		<h:panelGroup rendered="#{notification.showBottom}">
			<script type="text/javascript">jQuery (document).ready(function(){barBottom.show();});</script>
		</h:panelGroup>
	</h:panelGroup>
	<p:dialog widgetVar="barCenter" showEffect="fade" hideEffect="fade"
		dynamic="true">
		<p:ajax event="close" listener="#{notification.closeCenter}" />
		<h:panelGroup id="pnlNtfCenter">
			<ui:insert name="ntfCenter" />
		</h:panelGroup>
	</p:dialog>
	<h:panelGroup id="jsNtfCenter">
		<h:form>
			<p:hotkey rendered="#{notification.showCenter}" bind="ctrl+m"
				handler="barCenter.show()" />
			<p:hotkey action="#{notification.closeCenter}"
				rendered="#{notification.showCenter}" bind="esc"
				oncomplete="barCenter.hide()" />
		</h:form>
		<h:panelGroup rendered="#{notification.showCenter}">
			<script type="text/javascript">jQuery (document).ready(function(){barCenter.show();});</script>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>