<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:panel id="#{tableId}_pnlDeleteMany">
        <h:outputText value="#{sunecitybundle.deleteMessage}"/>
        <h:outputText value="#{bean.selectedEntities.size()}"/>
        <p:separator/>
        <div align="center">
            <p:commandButton value="#{sunecitybundle.yes}" process="@this"
                             action="#{bean.btnDeleteManyClick}" update="@widgetVar(#{tableId})"
                             oncomplete="closeDialog(xhr, status, args, '#{tableId}_dlgDeleteMany');"
                             styleClass="top-space" icon="fa fa-check"/>
            <p:commandButton value="#{sunecitybundle.no}"
                             oncomplete="PF('#{tableId}_dlgDeleteMany').hide()"
                             styleClass="top-space" icon="fa fa-times"/>
        </div>
    </p:panel>
</ui:composition>