<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <p:panel widgetVar="#{tableId}_pnlDelete">
        <div align="center">
            <p:panelGrid columns="#{infoColumns == null ? '2':infoColumns}" styleClass="panelgrid-noborder">
                <c:forEach items="#{bean.dataModel.infos}" var="info">
                    <h:outputText value="#{info.displayName}:"/>
                    <h:outputText value="#{lazyDataTable.getValuePath(bean.selectedEntity,info)}"
                                  style="font-weight: bold; font-size: 1em;"/>
                </c:forEach>
            </p:panelGrid>

            <p:separator/>

            <p:commandButton value="#{sunecitybundle.yes}"
                             action="#{bean.btnDeleteClick}" process="@this"
                             update="@widgetVar(#{tableId}) #{deleteUpdate}"
                             oncomplete="closeDialog(xhr, status, args, '#{tableId}_dlgDelete'); #{ondelete}"
                             styleClass="top-space" icon="fa fa-check"/>
            <p:commandButton value="#{sunecitybundle.no}" process="@none"
                             onclick="PF('#{tableId}_dlgDelete').hide()"
                             styleClass="top-space" icon="fa fa-times"/>
        </div>
    </p:panel>
</ui:composition>