<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:outputPanel id="#{tableId}_pnlDownloadLink">
		<div align="center">
			<h:outputLink value="#{bean.dataModel.reportPath}" target="blank"
						  onclick="PF('#{tableId}_dlgDownloadLink').hide()">
				<h:outputText value="#{bean.dataModel.reportPath}" />
			</h:outputLink>
		</div>
	</p:outputPanel>
</ui:composition>