<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <p:panel widgetVar="#{tableId}_pnlInfo">
        <div align="center">
            <h:panelGrid id="grdInfo" dir="#{sunecitybundle.dir}" columns="1">
                <p:panelGrid columns="#{infoColumns == null ? '2':infoColumns}" styleClass="panelgrid-noborder">
                    <c:forEach items="#{bean.dataModel.infos}" var="info">
                        <h:outputText value="#{info.displayName}:"/>
                        <h:outputText value="#{lazyDataTable.getValuePath(bean.selectedEntity,info)}"
                                      style="font-weight: bold; font-size: 1em;"/>
                    </c:forEach>
                </p:panelGrid>

                <p:separator/>

                <p:outputPanel style="text-align: center">
                    <p:commandButton value="#{sunecitybundle.print}" type="button" icon="fa fa-print" process="@none">
                        <p:printer target="grdInfo"/>
                    </p:commandButton>
                    <p:commandButton value="#{sunecitybundle.close}" type="button" icon="fa fa-times"
                                     process="@none" onclick="PF('#{tableId}_dlgInfo').hide()"/>
                </p:outputPanel>
            </h:panelGrid>
        </div>
    </p:panel>
</ui:composition>