<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <p:scrollPanel mode="native" style="height: 500px">
        <h:form id="#{tableId}_frmReport">
            <p:outputPanel id="#{tableId}_pnlReport" styleClass="report-page">
                <p:panelGrid id="grdReportDesign">

                    <p:row>
                        <p:column>
                            <h:outputText value="#{sunecitybundle['DynamicReport.title']}:"/>
                        </p:column>
                        <p:column colspan="3">
                            <h:panelGrid columns="2">
                                <p:inputText id="title" value="#{bean.dataModel.reportDesigner.report.title}"/>
                                <p:commandButton action="#{bean.dataModel.reportDesigner.btnStyleClick('title')}"
                                                 icon="fa fa-paint-brush"
                                                 process="@this" update="#{tableId}_frmReportStyle"
                                                 oncomplete="PF('ovlReportStyle').show('#{component.clientId}')"/>
                            </h:panelGrid>
                        </p:column>

                        <p:column>
                            <h:outputText value="#{sunecitybundle['DynamicReport.subtitle']}:"/>
                        </p:column>
                        <p:column colspan="3">
                            <h:panelGrid columns="2">
                                <p:inputText id="subtitle" value="#{bean.dataModel.reportDesigner.report.subtitle}"/>
                                <p:commandButton action="#{bean.dataModel.reportDesigner.btnStyleClick('subtitle')}"
                                                 icon="fa fa-paint-brush"
                                                 process="@this" update="#{tableId}_frmReportStyle"
                                                 oncomplete="PF('ovlReportStyle').show('#{component.clientId}')"/>
                            </h:panelGrid>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <h:outputText value="#{sunecitybundle['DynamicReport.header']}:"/>
                        </p:column>
                        <p:column colspan="3">
                            <h:panelGrid columns="2">
                                <p:inputText id="header" value="#{bean.dataModel.reportDesigner.report.header}"/>
                                <p:commandButton action="#{bean.dataModel.reportDesigner.btnStyleClick('header')}"
                                                 icon="fa fa-paint-brush"
                                                 process="@this" update="#{tableId}_frmReportStyle"
                                                 oncomplete="PF('ovlReportStyle').show('#{component.clientId}')"/>
                            </h:panelGrid>
                        </p:column>

                        <p:column>
                            <h:outputText value="#{sunecitybundle['DynamicReport.footer']}:"/>
                        </p:column>
                        <p:column colspan="3">
                            <h:panelGrid columns="2">
                                <p:inputText id="footer" value="#{bean.dataModel.reportDesigner.report.footer}"/>
                                <p:commandButton action="#{bean.dataModel.reportDesigner.btnStyleClick('footer')}"
                                                 icon="fa fa-paint-brush"
                                                 process="@this" update="#{tableId}_frmReportStyle"
                                                 oncomplete="PF('ovlReportStyle').show('#{component.clientId}')"/>
                            </h:panelGrid>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <h:outputText value="#{sunecitybundle['DynamicReport.summary']}:"/>
                        </p:column>
                        <p:column colspan="3">
                            <h:panelGrid columns="2">
                                <p:inputText id="summary" value="#{bean.dataModel.reportDesigner.report.summary}"/>
                                <p:commandButton action="#{bean.dataModel.reportDesigner.btnStyleClick('summary')}"
                                                 icon="fa fa-paint-brush"
                                                 process="@this" update="#{tableId}_frmReportStyle"
                                                 oncomplete="PF('ovlReportStyle').show('#{component.clientId}')"/>
                            </h:panelGrid>
                        </p:column>

                        <p:column>
                            <h:outputText value="#{sunecitybundle['ReportDate.reportDate']}:"/>
                        </p:column>
                        <p:column colspan="3">
                            <h:panelGrid columns="2">
                                <p:selectOneMenu appendTo="@this" id="reportDate"
                                                 value="#{bean.dataModel.reportDesigner.report.reportDate}">
                                    <f:selectItems value="#{bean.dataModel.reportDesigner.reportDates}"/>
                                </p:selectOneMenu>
                                <p:commandButton action="#{bean.dataModel.reportDesigner.btnStyleClick('reportDate')}"
                                                 icon="fa fa-paint-brush" process="@this"
                                                 update="#{tableId}_frmReportStyle"
                                                 oncomplete="PF('ovlReportStyle').show('#{component.clientId}')"/>
                            </h:panelGrid>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <h:outputText value="#{sunecitybundle['Page.paperSize']}:"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu appendTo="@this" id="page" value="#{bean.dataModel.reportDesigner.selectedPaper}">
                                <f:selectItems value="#{bean.dataModel.reportDesigner.papers}"/>
                            </p:selectOneMenu>
                        </p:column>

                        <p:column>
                            <h:outputText value="#{sunecitybundle['Page.orientation']}:"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu appendTo="@this" id="orientation"
                                             value="#{bean.dataModel.reportDesigner.report.page.portrait}">
                                <f:selectItem itemLabel="#{sunecitybundle['reportDesigner.portrait']}"
                                              itemValue="true"/>
                                <f:selectItem itemLabel="#{sunecitybundle['reportDesigner.landscape']}"
                                              itemValue="false"/>
                            </p:selectOneMenu>
                        </p:column>

                        <p:column>
                            <h:outputText value="#{sunecitybundle['Page.width']}:"/>
                        </p:column>
                        <p:column>
                            <p:spinner id="width" value="#{bean.dataModel.reportDesigner.page.width}" min="20"
                                       max="9999"
                                       size="4"/>
                        </p:column>

                        <p:column>
                            <h:outputText value="#{sunecitybundle['Page.height']}:"/>
                        </p:column>
                        <p:column>
                            <p:spinner id="height" value="#{bean.dataModel.reportDesigner.page.height}" min="20"
                                       max="9999"
                                       size="4"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <h:outputText value="#{sunecitybundle['Page.marginTop']}:"/>
                        </p:column>
                        <p:column>
                            <p:spinner id="marginTop" value="#{bean.dataModel.reportDesigner.page.marginTop}" min="0"
                                       max="40" size="2"/>
                        </p:column>

                        <p:column>
                            <h:outputText value="#{sunecitybundle['Page.marginBottom']}:"/>
                        </p:column>
                        <p:column>
                            <p:spinner id="marginBottom" value="#{bean.dataModel.reportDesigner.page.marginBottom}"
                                       min="0"
                                       max="40" size="2"/>
                        </p:column>

                        <p:column>
                            <h:outputText value="#{sunecitybundle['Page.marginRight']}:"/>
                        </p:column>
                        <p:column>
                            <p:spinner id="marginRight" value="#{bean.dataModel.reportDesigner.page.marginRight}"
                                       min="0"
                                       max="40" size="2"/>
                        </p:column>

                        <p:column>
                            <h:outputText value="#{sunecitybundle['Page.marginLeft']}:"/>
                        </p:column>
                        <p:column>
                            <p:spinner id="marginLeft" value="#{bean.dataModel.reportDesigner.page.marginLeft}" min="0"
                                       max="40" size="2"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column rowspan="2">
                            <p:outputPanel>
                                <h:outputText value="#{sunecitybundle['reportDesigner.logo']}:"/>
                            </p:outputPanel>
                        </p:column>
                        <p:column colspan="3" rowspan="2">
                            <p:outputPanel>
                                <p:fileUpload fileUploadListener="#{bean.dataModel.reportDesigner.uploadImage}"
                                              mode="advanced" dragDropSupport="true" sizeLimit="100000" auto="true"
                                              allowTypes="/(\.|\/)(gif|jpe?g|png)$/" multiple="false"
                                              label="#{sunecitybundle['reportDesigner.choose']}"/>
                            </p:outputPanel>
                        </p:column>

                        <p:column>
                            <p:outputPanel id="lblPosition">
                                <h:outputText value="#{sunecitybundle['LogoPosition']}:"/>
                            </p:outputPanel>
                        </p:column>
                        <p:column colspan="2">
                            <p:outputPanel id="logoPosition">
                                <p:selectOneMenu appendTo="@this" value="#{bean.dataModel.reportDesigner.logo.position}">
                                    <f:selectItems value="#{bean.dataModel.reportDesigner.logoPositions}"/>
                                </p:selectOneMenu>
                            </p:outputPanel>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <h:outputText value="#{sunecitybundle['Page.pageNumber']}:"/>
                        </p:column>
                        <p:column>
                            <p:selectBooleanCheckbox id="pageNumber"
                                                     value="#{bean.dataModel.reportDesigner.report.page.pageNumber}"/>
                            <p:commandButton action="#{bean.dataModel.reportDesigner.btnStyleClick('pageNumber')}"
                                             icon="fa fa-paint-brush" process="@this"
                                             update="#{tableId}_frmReportStyle"
                                             oncomplete="PF('ovlReportStyle').show('#{component.clientId}')"/>
                        </p:column>

                        <p:column>
                            <h:outputText value="#{sunecitybundle['DynamicReport.highlightEvenRows']}:"/>
                        </p:column>
                        <p:column>
                            <p:selectBooleanCheckbox id="highlightEvenRows"
                                                     value="#{bean.dataModel.reportDesigner.report.highlightEvenRows}"/>
                        </p:column>

                    </p:row>

                    <ui:insert/>
                </p:panelGrid>

                <hr class="separator"/>

                <div align="center">
                    <p:pickList id="listExport" addLabel="افرودن" addAllLabel="افرودن همه"
                                removeLabel="حذف" removeAllLabel="حذف همه" moveUpLabel="انتقال به بالا"
                                moveTopLabel="انتقال به اول" moveDownLabel="انتفال به پایین"
                                moveBottomLabel="انتفال به آخر" value="#{bean.dataModel.reportDesigner.dualListModel}"
                                converter="#{bean.dataModel.reportDesigner.reportColumnConverter}"
                                var="var" itemValue="#{var}" showTargetControls="true" showSourceFilter="true"
                                showTargetFilter="true" filterMatchMode="contains">
                        <f:facet name="sourceCaption">ستون های موجود</f:facet>
                        <f:facet name="targetCaption">ستون های انتخاب شده برای خروجی</f:facet>
                        <p:column style="width: 70%">
                            <h:outputText value="#{var.field.displayName}"/>
                        </p:column>
                        <p:column style="width: 20%">
                            <p:outputPanel>
                                <p:commandButton id="columnHeaderStyle"
                                                 action="#{bean.dataModel.reportDesigner.btnColumnHeaderStyle}"
                                                 icon="fa fa-paint-brush" update="#{tableId}_frmReportStyle"
                                                 onmouseover="PF('columnHeaderTooltip').show()"
                                                 oncomplete="PF('ovlReportStyle').show('#{component.clientId}')">
                                    <f:param name="columnHeaderStyle" value="#{var.field.path.metadata.name}"/>
                                </p:commandButton>
                            </p:outputPanel>
                        </p:column>
                        <p:column style="width: 10%">
                            <p:commandLink id="columnStyle"
                                           action="#{bean.dataModel.reportDesigner.btnColumnStyle}"
                                           process="@this" update="#{tableId}_frmReportStyle"
                                           oncomplete="PF('ovlReportStyle').show('#{component.clientId}')">
                                <f:param name="columnStyle" value="#{var.field.path.metadata.name}"/>
                                <span class="fa fa-paint-brush"/>
                            </p:commandLink>
                        </p:column>
                    </p:pickList>
                </div>
            </p:outputPanel>

            <hr class="separator"/>

            <p:outputPanel styleClass="center footer">
                <p:commandLink id="pdf"
                               process="@this listExport title subtitle header footer summary reportDate page orientation width height marginTop marginBottom marginRight marginLeft pageNumber highlightEvenRows logoPosition"
                               action="#{bean.dataModel.btnExportClick('PDF')}"
                               oncomplete="PF('dlgUrlDownloadLink').show()" update=":frmUrlDownloadLink">
                    <span class="fas fa-file-pdf fa-2x"></span>
                </p:commandLink>
                <pe:tooltip for="pdf" myPosition="top right" value="pdf"/>

                <p:commandLink id="xlsx"
                               process="@this listExport title subtitle header footer summary reportDate page orientation width height marginTop marginBottom marginRight marginLeft pageNumber highlightEvenRows logoPosition"
                               action="#{bean.dataModel.btnExportClick('XLSX')}"
                               oncomplete="PF('dlgUrlDownloadLink').show()" update=":frmUrlDownloadLink">
                    <span class="fas fa-file-excel fa-2x"></span>
                </p:commandLink>
                <pe:tooltip for="xlsx" myPosition="top right" value="xlsx"/>

                <p:commandLink id="docx"
                               process="@this listExport title subtitle header footer summary reportDate page orientation width height marginTop marginBottom marginRight marginLeft pageNumber highlightEvenRows logoPosition"
                               action="#{bean.dataModel.btnExportClick('DOCX')}"
                               oncomplete="PF('dlgUrlDownloadLink').show()" update=":frmUrlDownloadLink">
                    <span class="fas fa-file-word fa-2x"></span>
                </p:commandLink>
                <pe:tooltip for="docx" myPosition="top right" value="docx"/>

                <p:commandLink id="pptx"
                               process="@this listExport title subtitle header footer summary reportDate page orientation width height marginTop marginBottom marginRight marginLeft pageNumber highlightEvenRows logoPosition"
                               action="#{bean.dataModel.btnExportClick('PPTX')}"
                               oncomplete="PF('dlgUrlDownloadLink').show()" update=":frmUrlDownloadLink">
                    <span class="fas fa-file-powerpoint fa-2x"></span>
                </p:commandLink>
                <pe:tooltip for="pptx" myPosition="top right" value="pptx"/>

                <p:commandLink id="rtf"
                               process="@this listExport title subtitle header footer summary reportDate page orientation width height marginTop marginBottom marginRight marginLeft pageNumber highlightEvenRows logoPosition"
                               action="#{bean.dataModel.btnExportClick('RTF')}"
                               oncomplete="PF('dlgUrlDownloadLink').show()" update=":frmUrlDownloadLink">
                    <span class="fas fa-file-alt fa-2x"></span>
                </p:commandLink>
                <pe:tooltip for="rtf" myPosition="top right" value="rtf"/>

                <p:commandLink id="html"
                               process="@this listExport title subtitle header footer summary reportDate page orientation width height marginTop marginBottom marginRight marginLeft pageNumber highlightEvenRows logoPosition"
                               action="#{bean.dataModel.btnExportClick('HTML')}"
                               oncomplete="PF('dlgUrlDownloadLink').show()" update=":frmUrlDownloadLink">
                    <span class="fab fa-html5 fa-2x"></span>
                </p:commandLink>
                <pe:tooltip for="html" myPosition="top right" value="html"/>
            </p:outputPanel>
        </h:form>
    </p:scrollPanel>

    <p:overlayPanel widgetVar="ovlReportStyle" dismissable="false" appendTo="@(body)">
        <h:form id="#{tableId}_frmReportStyle">
            <p:commandButton icon="fa fa-times" action="#{bean.dataModel.reportDesigner.btnCloseStyleClick}"
                             oncomplete="PF('ovlReportStyle').hide()"/>
            <p:ribbon>
                <p:tab title="#{sunecitybundle['reportDesigner.font']}">
                    <p:ribbonGroup style="height: auto; width: auto">
                        <p:outputPanel>
                            <h:panelGrid columns="4">
                                <h:outputText value="#{sunecitybundle['Style.fontName']}:"/>
                                <p:selectOneMenu appendTo="@this">
                                    <f:selectItem itemLabel="#{sunecitybundle['Style.fontName']}" itemValue=""/>
                                </p:selectOneMenu>

                                <h:outputText value="#{sunecitybundle['Style.fontSize']}:"/>
                                <p:spinner value="#{bean.dataModel.reportDesigner.style.fontSize}"
                                           min="0" max="99" size="2"/>

                                <h:outputText value="#{sunecitybundle['Style.fontColor']}:"/>
                                <p:colorPicker value="#{bean.dataModel.reportDesigner.fontColor}"/>

                                <h:outputText value="#{sunecitybundle['Style.bgColor']}:"/>
                                <p:colorPicker value="#{bean.dataModel.reportDesigner.bgColor}"/>

                                <h:outputText value="#{sunecitybundle['reportDesigner.fontStyle']}:"/>

                                <h:panelGrid columns="4">
                                    <p:inputSwitch onLabel="B" offLabel="B"
                                                   value="#{bean.dataModel.reportDesigner.style.bold}"/>
                                    <p:inputSwitch onLabel="I" offLabel="I"
                                                   value="#{bean.dataModel.reportDesigner.style.italic}"/>
                                    <p:inputSwitch onLabel="U" offLabel="U"
                                                   value="#{bean.dataModel.reportDesigner.style.underline}"/>
                                    <p:inputSwitch onLabel="S" offLabel="S"
                                                   value="#{bean.dataModel.reportDesigner.style.strikeThrough}"/>
                                </h:panelGrid>
                            </h:panelGrid>
                        </p:outputPanel>
                    </p:ribbonGroup>
                </p:tab>
                <p:tab title="#{sunecitybundle['reportDesigner.align']}">
                    <p:ribbonGroup style="height: 140px; width: auto">
                        <p:outputPanel>
                            <h:panelGrid columns="4">
                                <h:outputText value="#{sunecitybundle['Style.horizontalAlign']}:"/>
                                <p:selectOneMenu appendTo="@this" value="#{bean.dataModel.reportDesigner.style.horizontalAlign}">
                                    <f:selectItems value="#{bean.dataModel.reportDesigner.horizontalAligns}"/>
                                </p:selectOneMenu>

                                <h:outputText value="#{sunecitybundle['Style.verticalAlign']}:"/>
                                <p:selectOneMenu appendTo="@this" value="#{bean.dataModel.reportDesigner.style.verticalAlign}">
                                    <f:selectItems value="#{bean.dataModel.reportDesigner.verticalAligns}"/>
                                </p:selectOneMenu>

                                <h:outputText value="#{sunecitybundle['Style.rotation']}:"/>
                                <p:selectOneMenu appendTo="@this" value="#{bean.dataModel.reportDesigner.style.rotation}">
                                    <f:selectItems value="#{bean.dataModel.reportDesigner.rotations}"/>
                                </p:selectOneMenu>

                                <h:outputText value="#{sunecitybundle['Style.lineSpacing']}:"/>
                                <p:selectOneMenu appendTo="@this" value="#{bean.dataModel.reportDesigner.style.lineSpacing}">
                                    <f:selectItems value="#{bean.dataModel.reportDesigner.lineSpacings}"/>
                                </p:selectOneMenu>

                                <h:outputText value="#{sunecitybundle['Style.paddingTop']}:"/>
                                <p:spinner value="#{bean.dataModel.reportDesigner.style.paddingTop}"
                                           min="0" max="40" size="2"/>

                                <h:outputText value="#{sunecitybundle['Style.paddingBottom']}:"/>
                                <p:spinner value="#{bean.dataModel.reportDesigner.style.paddingBottom}"
                                           min="0" max="40" size="2"/>

                                <h:outputText value="#{sunecitybundle['Style.paddingRight']}:"/>
                                <p:spinner value="#{bean.dataModel.reportDesigner.style.paddingRight}"
                                           min="0" max="40" size="2"/>

                                <h:outputText value="#{sunecitybundle['Style.paddingLeft']}:"/>
                                <p:spinner value="#{bean.dataModel.reportDesigner.style.paddingLeft}"
                                           min="0" max="40" size="2"/>

                                <h:outputText value="#{sunecitybundle['Style.indentRight']}:"/>
                                <p:spinner value="#{bean.dataModel.reportDesigner.style.indentRight}"
                                           min="0" max="40" size="2"/>

                                <h:outputText value="#{sunecitybundle['Style.indentLeft']}:"/>
                                <p:spinner value="#{bean.dataModel.reportDesigner.style.indentLeft}"
                                           min="0" max="40" size="2"/>
                            </h:panelGrid>
                        </p:outputPanel>
                    </p:ribbonGroup>
                </p:tab>
                <p:tab title="#{sunecitybundle['reportDesigner.bordering']}">
                    <p:ribbonGroup style="height: 114px; width: auto">
                        <p:outputPanel>
                            <h:panelGrid columns="6">
                                <h:outputText value="#{sunecitybundle['BorderType.borderTop']}:"/>
                                <p:selectOneMenu appendTo="@this" value="#{bean.dataModel.reportDesigner.borderTop.type}">
                                    <f:selectItems value="#{bean.dataModel.reportDesigner.borderTypes}"/>
                                </p:selectOneMenu>
                                <h:outputText value="#{sunecitybundle['Border.borderTop.width']}:"/>
                                <p:spinner value="#{bean.dataModel.reportDesigner.borderTop.width}"
                                           min="0" max="20" size="2"/>
                                <h:outputText value="#{sunecitybundle['Border.borderTop.color']}:"/>
                                <p:colorPicker value="#{bean.dataModel.reportDesigner.borderTopColor}"/>

                                <h:outputText value="#{sunecitybundle['BorderType.borderBottom']}:"/>
                                <p:selectOneMenu appendTo="@this" value="#{bean.dataModel.reportDesigner.borderBottom.type}">
                                    <f:selectItems value="#{bean.dataModel.reportDesigner.borderTypes}"/>
                                </p:selectOneMenu>
                                <h:outputText value="#{sunecitybundle['Border.borderBottom.width']}:"/>
                                <p:spinner value="#{bean.dataModel.reportDesigner.borderBottom.width}"
                                           min="0" max="20" size="2"/>
                                <h:outputText value="#{sunecitybundle['Border.borderBottom.color']}:"/>
                                <p:colorPicker value="#{bean.dataModel.reportDesigner.borderBottomColor}"/>

                                <h:outputText value="#{sunecitybundle['BorderType.borderRight']}:"/>
                                <p:selectOneMenu appendTo="@this" value="#{bean.dataModel.reportDesigner.borderRight.type}">
                                    <f:selectItems value="#{bean.dataModel.reportDesigner.borderTypes}"/>
                                </p:selectOneMenu>
                                <h:outputText value="#{sunecitybundle['Border.borderRight.width']}:"/>
                                <p:spinner value="#{bean.dataModel.reportDesigner.borderRight.width}"
                                           min="0" max="20" size="2"/>
                                <h:outputText value="#{sunecitybundle['Border.borderRight.color']}:"/>
                                <p:colorPicker value="#{bean.dataModel.reportDesigner.borderRightColor}"/>

                                <h:outputText value="#{sunecitybundle['BorderType.borderLeft']}:"/>
                                <p:selectOneMenu appendTo="@this" value="#{bean.dataModel.reportDesigner.borderLeft.type}">
                                    <f:selectItems value="#{bean.dataModel.reportDesigner.borderTypes}"/>
                                </p:selectOneMenu>
                                <h:outputText value="#{sunecitybundle['Border.borderLeft.width']}:"/>
                                <p:spinner value="#{bean.dataModel.reportDesigner.borderLeft.width}"
                                           min="0" max="20" size="2"/>
                                <h:outputText value="#{sunecitybundle['Border.borderLeft.color']}:"/>
                                <p:colorPicker value="#{bean.dataModel.reportDesigner.borderLeftColor}"/>
                            </h:panelGrid>
                        </p:outputPanel>
                    </p:ribbonGroup>
                </p:tab>
            </p:ribbon>
        </h:form>
    </p:overlayPanel>
</ui:composition>