<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:panel widgetVar="#{tableId}_pnlStatistic">
			<div align="center">
				<p:panelGrid columns="2">
					<f:facet name="header">
						<h:outputText value="#{sunecitybundle['action.info']}" />
					</f:facet>
					<f:facet name="footer">
						<div align="center">
							<p:commandButton value="#{sunecitybundle.close}"
											 icon="fa fa-times"
											 oncomplete="PF('#{tableId}_dlgStatistic').hide()" />
						</div>
					</f:facet>
					<h:outputText value="نام کاربری ثبت کننده: " />
					<h:outputText
							value="#{bean.selectedEntity.entityStatistic.saveUsername}" />
					<h:outputText value="تاریخ ثبت: " />
					<h:outputText
							value="#{bean.selectedEntity.entityStatistic.createTimestamp.dateTimePretty}" />
					<h:outputText value="نام کاربری آخرین ویرایش کننده: " />
					<h:outputText
							value="#{bean.selectedEntity.entityStatistic.lastUpdateUsername}" />
					<h:outputText value="تاریخ آخرین ویرایش: " />
					<h:outputText
							value="#{bean.selectedEntity.entityStatistic.lastUpdateTimestamp.dateTimePretty}" />
				</p:panelGrid>
			</div>
	</p:panel>
</ui:composition>