<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:s="http://sunecity.com/lilium/jsf">
    <div class="margin-top"/>
    <p:accordionPanel activeIndex="-1">
        <p:tab title="#{sunecitybundle['search.title']}" rendered="#{search!='false'}">
            <div align="center">
                <p:panel>
                    <p:dataTable id="tblSearch" value="#{bean.dataModel.searchFields}" var="searchField"
                                 rows="5" paginator="true" paginatorAlwaysVisible="false"
                                 paginatorPosition="bottom" emptyMessage="#{sunecitybundle['search.emptyMessage']}">
                        <f:facet name="header">
                            <p:panelGrid id="row">
                                <p:row>
                                    <p:column>
                                        <div align="right">
                                            <p:selectOneMenu appendTo="@this" value="#{bean.dataModel.selectedField}"
                                                             converter="#{bean.dataModel.fieldConverter}">
                                                <p:ajax event="change" listener="#{bean.dataModel.clear}"
                                                        process="@this" update="row"/>
                                                <f:selectItem itemLabel="#{sunecitybundle.choose}"/>
                                                <f:selectItems value="#{bean.dataModel.searches}"
                                                               var="field" itemLabel="#{field.displayName}"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </p:column>
                                    <p:column rendered="#{bean.dataModel.selectedField!=null}">
                                        <h:panelGroup>
                                            <div align="right">
                                                <p:selectOneMenu appendTo="@this" id="constraint"
                                                                 value="#{bean.dataModel.searchField.constraint}">
                                                    <p:ajax event="change" process="@this" update="row"/>
                                                    <f:selectItem itemLabel="#{sunecitybundle.choose}"/>
                                                    <f:selectItems value="#{bean.dataModel.selectedField.constraints}"/>
                                                </p:selectOneMenu>
                                            </div>
                                        </h:panelGroup>
                                    </p:column>
                                    <p:column
                                            rendered="#{bean.dataModel.searchField.fieldType!='ENUM' and (bean.dataModel.searchField.constraint=='IN' or bean.dataModel.searchField.constraint=='NOT_IN')}">
                                        <p:inputText id="txtIn" value="#{bean.dataModel.searchField.addValue}"/>
                                        <p:commandButton icon="fa fa-plus" action="#{bean.dataModel.searchField.add}"
                                                         process="@this txtIn" update="row"/>
                                        <p:commandButton icon="fa fa-times"
                                                         action="#{bean.dataModel.searchField.remove}"
                                                         process="@this" update="row"/>
                                    </p:column>
                                    <p:column style="width: 40%"
                                              rendered="#{bean.dataModel.searchField.constraint!=null and bean.dataModel.searchField.constraint!='IS_NULL' and bean.dataModel.searchField.constraint!='IS_NOT_NULL'}">
                                        <h:panelGroup id="pnlValues">
                                            <div align="left">
                                                <p:selectCheckboxMenu label="مقادیر"
                                                                      value="#{bean.dataModel.searchField.selectedValues}"
                                                                      filter="true" filterMatchMode="contains"
                                                                      rendered="#{bean.dataModel.searchField.fieldType=='ENUM'}">
                                                    <f:selectItems value="#{bean.dataModel.selectedField.values}"
                                                                   var="var" itemLabel="#{var.name}"/>
                                                </p:selectCheckboxMenu>
                                                <p:selectCheckboxMenu label="مقادیر"
                                                                      value="#{bean.dataModel.searchField.selectedValues}"
                                                                      filter="true" filterMatchMode="contains"
                                                                      rendered="#{bean.dataModel.searchField.fieldType!='ENUM' and (bean.dataModel.searchField.constraint=='IN' or bean.dataModel.searchField.constraint=='NOT_IN')}">
                                                    <p:ajax event="change" process="@this"/>
                                                    <f:selectItems value="#{bean.dataModel.searchField.values}"
                                                                   var="var" itemLabel="#{var}"/>
                                                </p:selectCheckboxMenu>
                                            </div>
                                            <h:panelGroup>
                                                <div align="right">
                                                    <p:selectOneMenu appendTo="@this" value="#{bean.dataModel.searchField.value}"
                                                                     rendered="#{bean.dataModel.searchField.fieldType=='BOOLEAN'}">
                                                        <f:selectItem
                                                                itemLabel="#{bean.dataModel.selectedField.trueName}"
                                                                itemValue="true"/>
                                                        <f:selectItem
                                                                itemLabel="#{bean.dataModel.selectedField.falseName}"
                                                                itemValue="false"/>
                                                        <f:selectItem
                                                                itemLabel="#{bean.dataModel.selectedField.allName}"/>
                                                    </p:selectOneMenu>
                                                </div>
                                                <p:inputText value="#{bean.dataModel.searchField.value}" required="true"
                                                             rendered="#{bean.dataModel.searchField.fieldType=='STRING' and bean.dataModel.searchField.constraint!='IN' and bean.dataModel.searchField.constraint!='NOT_IN'}"/>
                                                <p:spinner value="#{bean.dataModel.searchField.value}"
                                                           required="true" converter="javax.faces.Number"
                                                           rendered="#{bean.dataModel.searchField.fieldType=='NUMBER' and bean.dataModel.searchField.constraint!='IN' and bean.dataModel.searchField.constraint!='NOT_IN'}"/>
                                                <p:calendar required="true" value="#{bean.dataModel.searchField.value}"
                                                            pattern="yyyy/MM/dd" showWeek="true"
                                                            converter="com.sunecity.lilium.jsf.dateConverter"
                                                            navigator="true" showOn="button"
                                                            rendered="#{bean.dataModel.searchField.fieldType=='DATE'}"/>
                                                <h:outputText value="#{sunecitybundle['search.and']}"
                                                              rendered="#{bean.dataModel.searchField.constraint=='BETWEEN' or bean.dataModel.searchField.constraint=='NOT_BETWEEN'}"/>
                                                <p:inputText required="true"
                                                             value="#{bean.dataModel.searchField.value2}"
                                                             rendered="#{bean.dataModel.searchField.fieldType=='STRING' and (bean.dataModel.searchField.constraint=='BETWEEN' or bean.dataModel.searchField.constraint=='NOT_BETWEEN')}"/>
                                                <p:spinner value="#{bean.dataModel.searchField.value2}"
                                                           required="true" converter="javax.faces.Number"
                                                           rendered="#{bean.dataModel.searchField.fieldType=='NUMBER' and (bean.dataModel.searchField.constraint=='BETWEEN' or bean.dataModel.searchField.constraint=='NOT_BETWEEN')}"/>
                                                <p:calendar required="true" value="#{bean.dataModel.searchField.value2}"
                                                            pattern="yyyy/MM/dd" showWeek="true"
                                                            converter="com.sunecity.lilium.jsf.dateConverter"
                                                            navigator="true" showOn="button"
                                                            rendered="#{bean.dataModel.searchField.fieldType=='DATE' and (bean.dataModel.searchField.constraint=='BETWEEN' or bean.dataModel.searchField.constraint=='NOT_BETWEEN')}"/>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </p:column>
                                    <p:column>
                                        <p:commandButton value="#{sunecitybundle['search.add']}"
                                                         action="#{bean.dataModel.btnAddClick}"
                                                         process="@this pnlValues" update="tblSearch"
                                                         disabled="#{bean.dataModel.selectedField==null or bean.dataModel.searchField.constraint==null}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </f:facet>
                        <f:facet name="footer">
                            <p:commandButton id="btnSearch" value="#{sunecitybundle['search.search']}"
                                             action="#{bean.dataModel.btnSearchClick}" process="@this"
                                             update="@widgetVar(#{tableId})"/>
                            <p:commandButton value="#{sunecitybundle['search.clear']}"
                                             action="#{bean.dataModel.btnResetClick}" process="@this"
                                             update="tblSearch"/>
                        </f:facet>
                        <p:column headerText="#{sunecitybundle['search.fieldName']}">
                            <h:outputText value="#{searchField.search.name}"/>
                        </p:column>
                        <p:column headerText="#{sunecitybundle['search.condition']}">
                            <h:outputText value="#{searchField.search.condition}"/>
                        </p:column>
                        <p:column headerText="#{sunecitybundle['search.value']}">
                            <h:panelGroup rendered="#{searchField.list}">
                                <p:dataList value="#{searchField.search.value}" var="var">
                                    <h:outputText value="#{var}"/>
                                </p:dataList>
                            </h:panelGroup>
                            <h:outputText value="#{searchField.search.value}" rendered="#{!searchField.list}"/>
                        </p:column>
                        <p:column headerText="#{sunecitybundle['search.delete']}" style="width:60px">
                            <div align="center">
                                <p:commandLink action="#{bean.dataModel.btnDeleteClick(searchField)}"
                                               process="@this" update="tblSearch">
                                    <p:graphicImage value="#{resource['sunecity:image/icon/delete.png']}"/>
                                </p:commandLink>
                            </div>
                        </p:column>
                    </p:dataTable>
                    <!--<p:separator/>-->

                    <!--<p:toolbar>-->
                    <!--<p:toolbarGroup align="#{sunecitybundle.align}">-->
                    <!--<p:commandButton-->
                    <!--value="#{sunecitybundle['action.deleteSelected']}"-->
                    <!--rendered="#{delete!='false'}" icon="ui-icon-close"-->
                    <!--update=":#{formId}_frmDeleteMany"-->
                    <!--oncomplete="#{formId}_dlgDeleteMany.show()"/>-->
                    <!--<p:separator rendered="#{delete!='false'}"/>-->
                    <!--<p:commandButton-->
                    <!--value="#{sunecitybundle['action.copySelected']}"-->
                    <!--icon="fa fa-files-o" rendered="#{copy=='true'}"/>-->
                    <!--<p:separator rendered="#{copy=='true'}"/>-->
                    <!--<p:commandButton value="#{sunecitybundle['action.paste']}"-->
                    <!--icon="fa fa-clipboard" rendered="#{copy=='true'}"/>-->
                    <!--<p:separator rendered="#{copy=='true'}"/>-->
                    <!--<p:commandButton value="#{sunecitybundle['action.reset']}"-->
                    <!--icon="fa fa-refresh"-->
                    <!--action="#{bean.dataModel.reset}"-->
                    <!--update="@widgetVar(#{tableId})"/>-->
                    <!--</p:toolbarGroup>-->
                    <!--</p:toolbar>-->

                </p:panel>
            </div>
        </p:tab>
        <!--
        <p:tab title="#{sunecitybundle['action.title']}"
        rendered="#{search=='false'}">
        <div align="center">
        <p:panel>
        <p:toolbar>
        <p:toolbarGroup align="#{sunecitybundle.align}">
        <p:commandButton
        value="#{sunecitybundle['action.deleteSelected']}"
        rendered="#{delete!='false'}" icon="ui-icon-check"
        update=":#{formId}_frmDeleteMany"
        oncomplete="#{formId}_dlgDeleteMany.show()" />
        <p:separator rendered="#{delete!='false'}" />
        <p:commandButton
        value="#{sunecitybundle['action.copySelected']}"
        icon="ui-icon-copy" rendered="#{copy=='true'}" />
        <p:separator rendered="#{copy=='true'}" />
        <p:commandButton value="#{sunecitybundle['action.paste']}"
        icon="ui-icon-check" rendered="#{copy=='true'}" />
        <p:separator rendered="#{copy=='true'}" />
        <p:commandButton value="#{sunecitybundle['action.reset']}"
        icon="ui-icon-arrowrefresh-1-s"
        action="#{bean.dataModel.reset}"
        update=":#{formId}:#{tableId}" />
        </p:toolbarGroup>
        </p:toolbar>
        </p:panel>
        </div>
        </p:tab>
        -->
    </p:accordionPanel>

    <p:dataTable id="#{tableId}" widgetVar="#{tableId}" value="#{bean.dataModel}" var="var" rowIndexVar="rowIndex"
                 selectionMode="single" selection="#{selection != null ? selection : bean.selectedEntity}"
                 rowKey="#{var.id}" sortMode="multiple" draggableRows="#{draggableRows or draggableRows == true}"
                 draggableColumns="#{draggableColumns or draggableColumns == true}" filterEvent="return"
                 paginatorTemplate="#{sunecitybundle.paginatorTemplateLazy}" paginator="true" paginatorPosition="bottom"
                 currentPageReportTemplate="#{sunecitybundle.currentPageReportTemplate}"
                 rows="#{bean.dataModel.rowsPerPage}" rowsPerPageTemplate="#{sunecitybundle.rowsPerPageTemplate}"
                 emptyMessage="#{emptyMessage!=null?emptyMessage:sunecitybundle.emptyMessage}"
                 rendered="#{rendered or rendered != false}" rowStyleClass="#{rowStyleClass}"
                 resizableColumns="true" lazy="true" tableStyle="table-layout: auto">
        <!--<f:facet name="header">-->
        <!--<h:outputText value="#{headerText}"/>-->
        <!--<p:commandButton value="جستجو" icon="fa fa-search" onclick="PF('#{tableId}').filter()" style="float: right"/>-->
        <!--<p:commandButton icon="fa fa-close" action="#{bean.dataModel.clearFilter}" style="float: right"/>-->
        <!--</f:facet>-->
        <p:column headerText="#{sunecitybundle.row}" rendered="#{rowNumber!=false}" width="30">
            <div align="center">
                <h:outputText value="#{numbers.getText(rowIndex + 1)}"/>
            </div>
        </p:column>
        <p:columns value="#{bean.dataModel.columns}" var="column" rendered="#{showColumns!='false'}"
                   headerText="#{column.displayName}" sortBy="#{var[column.name]}"
                   filterable="false" filterBy="#{var[column.name]}">
            <h:outputText value="#{lazyDataTable.getValuePath(var, column)}"/>
        </p:columns>
        <ui:insert/>
        <p:column headerText="" width="120" rendered="#{actions!=false}">
            <div align="center" class="info">
                <s:expression name="infoActionMethod" value="#{infoAction}"/>
                <p:commandLink id="lnkInfo" action="#{infoActionMethod}"
                               process="@this" update="@widgetVar(#{tableId}_pnlInfo)"
                               oncomplete="openDialog(xhr, status, args, '#{tableId}_dlgInfo');">
                    <f:setPropertyActionListener target="#{bean.selectedEntity}"
                                                 value="#{selectedEntity!=null?selectedEntity:var}"/>

                    <div class="fa fa-list-alt fa-lg"/>
                </p:commandLink>
                <pe:tooltip for="lnkInfo" myPosition="top right" value="جزئیات"/>
                <p:spacer width="5"/>
                <h:panelGroup rendered="#{edit or edit!=false}">
                    <s:expression name="editActionMethod" value="#{editAction}"/>
                    <p:commandLink id="lnkUpdate" action="#{editActionMethod}"
                                   oncomplete="openDialog(xhr, status, args, '#{editWidgetVar}');"
                                   update="#{editUpdate}" process="@this">
                        <f:setPropertyActionListener target="#{bean.selectedEntity}"
                                                     value="#{selectedEntity!=null?selectedEntity:var}"/>

                        <div class="fas fa-pen-square fa-lg"/>
                    </p:commandLink>
                    <pe:tooltip for="lnkUpdate" myPosition="top right" value="ویرایش"/>
                </h:panelGroup>
                <p:spacer width="5"/>
                <h:panelGroup rendered="#{delete or delete!=false}">
                    <s:expression name="deleteActionMethod" value="#{deleteAction}"/>
                    <p:commandLink id="lnkDelete" action="#{deleteActionMethod}" process="@this"
                                   update="@widgetVar(#{tableId}_pnlDelete)"
                                   oncomplete="openDialog(xhr, status, args, '#{tableId}_dlgDelete');">
                        <f:setPropertyActionListener target="#{bean.selectedEntity}"
                                                     value="#{selectedEntity!=null?selectedEntity:var}"/>

                        <div class="fa fa-trash fa-lg"/>
                    </p:commandLink>
                    <pe:tooltip for="lnkDelete" myPosition="top right" value="حذف"/>
                </h:panelGroup>
                <p:spacer width="5"/>
                <!--<p:commandLink id="lnkStatistic"-->
                <!--update="@widgetVar(#{tableId}_pnlStatistic)"-->
                <!--oncomplete="PF('#{tableId}_dlgStatistic').show()">-->
                <!--<f:setPropertyActionListener target="#{bean.selectedEntity}" value="#{selectedEntity!=null?selectedEntity:var}"/>-->
                <!--<div class="fa fa-info-circle fa-lg"></div>-->
                <!--</p:commandLink>-->
                <!--<pe:tooltip for="lnkStatistic" myPosition="top right" value="اطلاعات"/>-->
                <!--
                <p:spacer width="5" />
                <p:commandLink id="lnkAudit"
                    oncomplete="#{formId}_dlgAudit.show()"
                    update=":#{formId}_frmAudit">
                    <f:setPropertyActionListener target="#{bean.selectedEntity}"
                        value="#{var}" />
                    <p:graphicImage
                        value="#{resource['sunecity:image/icon/audit.png']}" />
                </p:commandLink>
                <pe:tooltip for="lnkAudit" myPosition="top right" value="سوابق" />
                -->
            </div>
        </p:column>
        <p:column rendered="#{delete!=false and actions!=false or copy==true}" width="38">
            <f:facet name="header">
                <h:outputText value="#{sunecitybundle.choice}"/>
            </f:facet>
            <div align="center">
                <p:selectBooleanCheckbox value="#{bean.selectedItems[var.id]}">
                    <p:ajax listener="#{bean.selectListener(var)}" process="@this"/>
                </p:selectBooleanCheckbox>
            </div>
        </p:column>
        <f:facet name="{ReportAndPrint}">
            <p:commandButton value="#{sunecitybundle['reportAndPrint']}" process="@this"
                             update="@widgetVar(#{tableId}_pnlReport)" rendered="#{export!=false}"
                             oncomplete="PF('#{tableId}_dlgReport').show()" icon="fa fa-print" style="float: left"/>
            <p:blockUI id="#{tableId}" block="@parent:#{tableId}" trigger="@parent:#{tableId}">
                <h:outputText value="#{sunecitybundle.loading}"/>
                <br/>

                <div class="fa fa-spinner fa-pulse fa-3x"/>
            </p:blockUI>
        </f:facet>
    </p:dataTable>

    <!--<p:contextMenu for="#{tableId}">-->
    <!--<p:menuitem value="#{sunecitybundle['action.info']}" process="@this" oncomplete="PF('#{tableId}_dlgInfo').show()"-->
    <!--update="@widgetVar(#{tableId}_pnlInfo)" rendered="#{info!=false}" icon="ui-icon-info"/>-->
    <!--<p:menuitem value="#{sunecitybundle['action.edit']}" process="@this " oncomplete="PF('#{editWidgetVar}').show()"-->
    <!--update="#{editUpdate}" rendered="#{edit!=false}" icon="ui-icon-document"/>-->
    <!--<p:menuitem value="#{sunecitybundle['action.delete']}" process="@this" oncomplete="PF('#{tableId}_dlgDelete').show()"-->
    <!--rendered="#{delete!=false}" icon="ui-icon-close"/>-->
    <!--<p:menuitem value="مشخصات" oncomplete="PF('#{tableId}_dlgStatistic').show()" process="@this"-->
    <!--update="@widgetVar(#{tableId}_pnlStatistic)" icon="ui-icon-contact"/>-->
    <!--&lt;!&ndash;-->
    <!--<p:menuitem value="سوابق" oncomplete="#{formId}_dlgAudit.show()"-->
    <!--icon="ui-icon-script" />-->
    <!--&ndash;&gt;-->
    <!--<p:separator/>-->
    <!--<p:menuitem value="#{sunecitybundle['action.deleteMany']}" process="@this #{tableId}"-->
    <!--oncomplete="PF('#{tableId}_dlgDeleteMany').show()"-->
    <!--update="@widgetVar(#{tableId}_pnlDeleteMany)" rendered="#{delete!=false}" icon="ui-icon-close"/>-->
    <!--<p:menuitem value="#{sunecitybundle['action.copySelected']}" process="@this #{tableId}"-->
    <!--action="#{bean.btnCopyManyClick}" rendered="#{copy==true}" icon="ui-icon-copy"/>-->
    <!--<p:menuitem value="#{sunecitybundle['action.paste']}" process="@this #{tableId}"-->
    <!--action="#{bean.btnPasteManyClick}" rendered="#{copy==true}" icon="ui-icon-newwin"/>-->
    <!--</p:contextMenu>-->
</ui:composition>