<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:s="http://sunecity.com/lilium/jsf">
    <p:outputLabel value="#{label}:" for="#{id}" rendered="#{rendered!=false}"/>
    <s:expression name="completeMethodAction" value="#{completeMethod}"/>
    <h:panelGroup rendered="#{rendered!=false}">
        <h:outputText value="#{prefix}"/>
        <p:autoComplete id="#{id}" value="#{value}" label="#{label}" completeMethod="#{completeMethodAction}"
                        queryDelay="#{queryDelay!=null?queryDelay:500}" converter="#{converterBean.converter(values)}"
                        var="#{variable!=null?variable:'var'}" itemLabel="#{itemLabel}"
                        itemValue="#{variable!=null?variable:var}" forceSelection="true"
                        maxlength="#{maxlength!=null?maxlength:256}" size="#{size}" title="#{tooltip}" maxResults="10"
                        rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}"
                        required="#{required or required==true}" tabindex="#{tabindex}" style="#{style}"
                        styleClass="#{styleClass}">
            <ui:insert/>
        </p:autoComplete>
        <h:outputText value="#{suffix}" style="margin-right: 5px" rendered="#{suffix!=null}"/>
        <p:message for="#{id}"/>
    </h:panelGroup>
</ui:composition>