<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:s="http://sunecity.com/lilium/jsf">
    <s:expression name="completeMethodAction" value="#{completeMethod}"/>
    <p:autoComplete id="#{id}" value="#{value}" label="#{label}" completeMethod="#{completeMethodAction}"
                    queryDelay="#{queryDelay!=null?queryDelay:500}" converter="#{converterBean.converter(values)}"
                    var="#{variable!=null?variable:'var'}" itemLabel="#{itemLabel}"
                    itemValue="#{variable!=null?variable:var}" forceSelection="true"
                    maxlength="#{maxlength!=null?maxlength:256}" size="#{size}" title="#{tooltip}" maxResults="10"
                    rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}"
                    required="#{required or required==true}" tabindex="#{tabindex}" style="#{style}"
                    styleClass="#{styleClass}">
        <ui:insert/>
    </p:autoComplete>
</ui:composition>