<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<div align="center" dir="ltr">
		<p:panelGrid columns="1" rendered="#{rendered!=false}"
			style="width:90%">
			<p:barChart id="#{widgetVar}_id" widgetVar="#{widgetVar}"
				value="#{value}" orientation="horizontal" stacked="true"
				animate="true" zoom="true" legendPosition="ne" />
			<h:panelGrid columns="2" styleClass="no-border"
				style="width:90%;text-align: center">
				<h:panelGroup>
					<p:commandButton value="دریافت نمودار"
						icon="fa fa-download"
						onclick="PrimeFaces.monitorDownload(statusStart, statusStop);downloadChart(#{widgetVar})"
						ajax="false" actionListener="#{exportChart.exportChart}">
						<p:fileDownload value="#{exportChart.file}" />
					</p:commandButton>
					<h:inputHidden id="#{widgetVar}_id_ept"
						value="#{exportChart.chart}" />
				</h:panelGroup>
				<p:commandButton type="button" value="تنظیم مجدد بزرگنمایی"
					icon="fa fa-refresh" onclick="PF('#{widgetVar}').resetZoom()" />
			</h:panelGrid>
		</p:panelGrid>
	</div>
</ui:composition>