<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <f:facet name="last">
        <h:outputStylesheet name="css/core.css" library="sunecity"/>
    </f:facet>
    <p:outputPanel id="growl">
        <p:growl severity="info,warn,error" widgetVar="wdgGrowl" globalOnly="true" life="#{growl.life}"
                 sticky="#{growl.sticky}" showDetail="#{growl.showDetail}" escape="false"/>
    </p:outputPanel>
    <!--<p:idleMonitor timeout="#{globalSettingBean.globalSetting.sessionTimeoutMillis}" onidle="PF('dlgIdle').show()"/>-->
    <p:ajaxExceptionHandler type="javax.faces.application.ViewExpiredException" onexception="PF('dlgIdle').show();"/>
    <p:dialog id="iddlgIdle" widgetVar="dlgIdle" modal="true" resizable="fasle" closable="false" appendTo="@(body)"
              header="#{sunecitybundle.timeout}">
        <div align="center">
            <h:form>
                <p:commandButton ajax="false" value="#{sunecitybundle.refresh}" icon="fa fa-refresh"/>
            </h:form>
        </div>
    </p:dialog>
    <p:dialog widgetVar="dlgStatus" modal="true" resizable="fasle" closable="false">
        <div align="center">
            <h:outputText value="#{sunecitybundle.loading}"/>
            <br/>
            <p:graphicImage value="#{resource['sunecity:image/icon/ajax-loader.gif']}"/>
        </div>
    </p:dialog>

</ui:composition>