<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:s="http://sunecity.com/lilium/jsf">
    <p:column headerText="#{headerText}">
        <div align="center">
            <s:expression name="actionMethod" value="#{action}"/>
            <p:commandLink disabled="#{disabled==true}" rendered="#{rendered!=false}"
                           oncomplete="openDialog(xhr, status, args, '#{dialogWidgetVar}'); #{oncomplete}"
                           update="#{update}" action="#{actionMethod}" process="@this">
                <f:setPropertyActionListener target="#{bean!=null?bean.selectedEntity:value}"
                                             value="#{selectedEntity!=null?selectedEntity:var}"/>
                <span class="#{icon}"/>
            </p:commandLink>
        </div>
    </p:column>
</ui:composition>