<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <img src="kaptcha.jpg"/>
    <h:inputText value="#{captcha.captcha}" autocomplete="false"/>

</ui:composition>