<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <c:if test="#{type == 'header'}">
        <p:column haderText="#{header}" footerText="#{footer}" rendered="#{rendered or rendered != false}"
                  colspan="#{colspan}" rowspan="#{rowspan}" styleClass="#{styleClass}" style="#{style}">
            <f:facet name="header">
                <h:outputText value="#{value}" converter="numberConverter"/>
            </f:facet>
        </p:column>
    </c:if>

    <c:if test="#{type == 'footer'}" scope="">
        <p:column haderText="#{header}" footerText="#{footer}" rendered="#{rendered or rendered != false}"
                  colspan="#{colspan}" rowspan="#{rowspan}" styleClass="#{styleClass}" style="#{style}">
            <f:facet name="footer">
                <h:outputText value="#{value}" converter="numberConverter"/>
            </f:facet>
        </p:column>
    </c:if>

    <c:if test="#{type != 'header' and type != 'footer'}">
        <p:column haderText="#{header}" footerText="#{footer}" rendered="#{rendered or rendered != false}"
                  colspan="#{colspan}" rowspan="#{rowspan}" styleClass="#{styleClass}" style="#{style}">
            <h:outputText value="#{value}" converter="numberConverter"/>
        </p:column>
    </c:if>

</ui:composition>