<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <div align="center" style="font-size: 8pt">
        <h:outputText value="copyright© 2010-2018, lilium solutions all rights reserved."/>
        <h:outputText value=" #{version.version}"/>
    </div>

</ui:composition>