<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <style>
        .ui-clock {
            border: none !important;
            background: none !important;
            line-height: normal !important;
            font-family: "B Yekan" !important;
            padding: inherit !important;
            border-radius: inherit !important;
        }
    </style>
    <h:outputText value="#{currentDateTime.date.dayOfWeek} #{currentDateTime.date.toString()} "/>
    <p:clock pattern="HH:mm"/>
</ui:composition>