<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:s="http://sunecity.com/lilium/jsf"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <p:dataTable id="#{id}" widgetVar="#{id}" value="#{values}" var="var" rowIndexVar="rowIndex"
                 paginatorTemplate="#{sunecitybundle.paginatorTemplate}" paginator="#{paging!=false}"
                 draggableRows="#{draggableRows or draggableRows == true}" paginatorPosition="bottom"
                 draggableColumns="#{draggableColumns or draggableColumns == true}" resizableColumns="true"
                 currentPageReportTemplate="#{sunecitybundle.currentPageReportTemplate}" sortMode="multiple"
                 rowsPerPageTemplate="#{sunecitybundle.rowsPerPageTemplate}"
                 rowKey="#{rowKey != null ? rowKey : var.id}" lazy="false"
                 emptyMessage="#{emptyMessage!=null?emptyMessage:sunecitybundle.emptyMessage}"
                 rows="#{paging != false ? rowsPerPage != null ? rowsPerPage : 5 : 0}" tableStyle="table-layout: auto"
                 selection="#{selection}" selectionMode="#{selectionMode != null ? selectionMode : 'single'}"
                 rendered="#{rendered or rendered!=false}">
        <c:if test="#{headerText!=null}">
            <f:facet name="header">
                <h:outputText value="#{headerText}"/>
            </f:facet>
        </c:if>
        <p:column headerText="#{sunecitybundle.row}"
                  rendered="#{rowNumber!=false}" width="30">
            <div align="center">
                <h:outputText value="#{numbers.getText(rowIndex + 1)}"/>
            </div>
        </p:column>
        <ui:insert/>
        <p:column headerText="" rendered="#{actions!=false}">
            <div align="center">
                <s:expression name="infoActionMethod" value="#{infoAction}"/>
                <h:panelGroup rendered="#{infoWidgetVar != null}">
                    <p:commandLink id="lnkInfo" action="#{infoActionMethod}"
                                   update="#{infoUpdate}" process="@widgetVar(#{id})"
                                   oncomplete="openDialog(xhr, status, args, '#{infoWidgetVar}');">
                        <f:setPropertyActionListener target="#{value}" value="#{var}"/>

                        <div class="fa fa-list-alt fa-lg"/>
                    </p:commandLink>
                    <pe:tooltip for="lnkInfo" myPosition="top right" value="جزئیات"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{edit or edit!=false}">
                    <s:expression name="editActionMethod" value="#{editAction}"/>
                    <p:commandLink id="lnkUpdate" action="#{editActionMethod}" process="@this"
                                   oncomplete="openDialog(xhr, status, args, '#{editWidgetVar}');"
                                   update="#{editUpdate}">
                        <div class="fa fa-edit"/>
                        <f:setPropertyActionListener target="#{value}" value="#{var}"/>
                    </p:commandLink>
                    <pe:tooltip for="lnkUpdate" myPosition="top right" value="ویرایش"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{delete or delete!=false}">
                    <s:expression name="deleteActionMethod" value="#{deleteAction}"/>
                    <p:commandLink id="lnkDelete" action="#{deleteActionMethod}" process="@this"
                                   oncomplete="openDialog(xhr, status, args, '#{id}_dlgDelete');">
                        <div class="fa fa-trash"/>
                        <f:setPropertyActionListener target="#{value}" value="#{var}"/>
                    </p:commandLink>
                    <pe:tooltip for="lnkDelete" myPosition="top right" value="حذف"/>
                </h:panelGroup>
            </div>
        </p:column>
    </p:dataTable>
    <p:dialog widgetVar="#{id}_dlgDelete" closeOnEscape="true"
              header="#{sunecitybundle.deleteMessage}" appendTo="@(body)" modal="true"
              closable="true" resizable="false" draggable="true" dynamic="true"
              showEffect="fade" hideEffect="fade">
        <p:outputPanel>
            <s:expression name="deleteConfirmActionMethod" value="#{deleteConfirmAction}"/>
            <div align="center">
                <p:commandButton value="#{sunecitybundle.yes}" action="#{deleteConfirmActionMethod}"
                                 process="@this" update="#{id} #{deleteUpdate}"
                                 oncomplete="closeDialog(xhr, status, args, '#{id}_dlgDelete');"
                                 styleClass="top-space" icon="fa fa-check"/>
                <p:commandButton value="#{sunecitybundle.no}" process="@none"
                                 onclick="PF('#{id}_dlgDelete').hide()" styleClass="top-space"
                                 icon="fa fa-times"/>
            </div>
        </p:outputPanel>
    </p:dialog>
</ui:composition>