<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">
    <p:calendar id="#{id}" value="#{value}" pattern="yyyy/MM/dd" mask="9999/99/99"
                showWeek="true" label="#{label}" navigator="true" showOn="button"
                mode="#{mode!=null?mode:'popup'}" size="#{size}" rendered="#{rendered or rendered!=false}"
                disabled="#{disabled or disabled==true}" required="#{required or required==true}"
                tabindex="#{tabindex}" style="#{style}" styleClass="#{styleClass}">
        <f:converter converterId="#{converter!=null?converter:'com.sunecity.lilium.jsf.dateTimeConverter'}"/>
        <ui:insert/>
    </p:calendar>
    <pe:timePicker value="#{timeValue!=null?timeValue:value}" mode="#{mode!=null?mode:'spinner'}" label="#{label}"
                   rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}" showOn="button">
        <f:converter converterId="#{converter!=null?converter:'com.sunecity.lilium.jsf.timeConverter'}"/>
    </pe:timePicker>
</ui:composition>