<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">
    <p:outputPanel id="#{id}_label" rendered="#{rendered or rendered!=false}">
        <p:outputLabel value="#{label}:" for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
    <p:outputPanel rendered="#{rendered or rendered!=false}">
        <h:panelGrid columns="2">
            <p:calendar id="#{id}" value="#{value}" pattern="yyyy/MM/dd" mask="9999/99/99"
                        showWeek="true" label="#{label}" navigator="true" showOn="button"
                        mode="#{mode!=null?mode:'popup'}" size="#{size}" rendered="#{rendered or rendered!=false}"
                        disabled="#{disabled or disabled==true}" required="#{required or required==true}"
                        tabindex="#{tabindex}" style="#{style}" styleClass="#{styleClass}">
                <f:converter converterId="#{converter!=null?converter:'com.sunecity.lilium.jsf.dateTimeConverter'}"/>
                <ui:insert/>
            </p:calendar>
            <pe:timePicker value="#{timeValue!=null?timeValue:value}" mode="#{mode!=null?mode:'spinner'}"
                           label="#{label}" rendered="#{rendered or rendered!=false}"
                           disabled="#{disabled or disabled==true}" showOn="button">
                <f:converter converterId="#{converter!=null?converter:'com.sunecity.lilium.jsf.timeConverter'}"/>
            </pe:timePicker>
        </h:panelGrid>
        <p:message for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
</ui:composition>