<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:outputPanel id="#{id}_label" rendered="#{rendered or rendered!=false}">
        <p:outputLabel value="#{label}:" for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
    <p:outputPanel rendered="#{rendered or rendered!=false}">
        <p:calendar id="#{id}" value="#{value}" pattern="yyyy/MM/dd" mask="9999/99/99"
                    showWeek="true" label="#{label}" navigator="true" showOn="button"
                    mode="#{mode!=null?mode:'popup'}" size="#{size}"
                    rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}"
                    required="#{required or required==true}" tabindex="#{tabindex}" style="#{style}"
                    styleClass="#{styleClass}">
            <f:converter converterId="#{converter!=null?converter:'com.sunecity.lilium.jsf.dateConverter'}"/>
            <ui:insert/>
        </p:calendar>
        <p:message for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
</ui:composition>