<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
	<p:dialog widgetVar="#{widgetVar}" closeOnEscape="true" header="#{headerText}"
		appendTo="@(body)" modal="true" closable="true" resizable="true"
		draggable="true" dynamic="true" showEffect="fade" hideEffect="fade">
		<c:if test="#{formId!=null}">
			<h:form id="#{formId}">
				<div align="#{align==null?'center':align}">
					<ui:insert />
				</div>
			</h:form>
		</c:if>
		<c:if test="#{formId==null}">
			<div align="#{align==null?'center':align}">
				<ui:insert />
			</div>
		</c:if>
	</p:dialog>
</ui:composition>