<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:s="http://sunecity.com/lilium/jsf"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <p:dialog widgetVar="#{widgetVar}" closeOnEscape="true" header="#{sunecitybundle.edit}"
              appendTo="@(body)" modal="true" closable="true" resizable="true"
              draggable="true" dynamic="true" showEffect="fade" hideEffect="fade">
        <div align="center">
            <p:panel>
                <h:form id="#{formId}">
                    <p:panelGrid columns="#{columns}" styleClass="panelgrid-noborder">
                        <ui:insert/>
                    </p:panelGrid>

                    <p:separator/>

                    <c:if test="#{bean==null}">
                        <s:expression name="editActionMethod" value="#{editAction}"/>
                        <p:commandButton value="#{sunecitybundle.saveUpdate}" action="#{editActionMethod}"
                                         validateClient="true" update=":#{formId} #{update}"
                                         tabindex="#{tabindex}" onclick="#{onclick}"
                                         oncomplete="closeDialog(xhr, status, args, '#{widgetVar}'); #{oncomplete}"
                                         styleClass="top-space" icon="fa fa-edit"/>
                    </c:if>
                    <c:if test="#{bean!=null}">
                        <p:commandButton value="#{sunecitybundle.saveUpdate}" action="#{bean.btnUpdateClick}"
                                         validateClient="true" update=":#{formId} #{update}"
                                         tabindex="#{tabindex}" onclick="#{onclick}"
                                         oncomplete="closeDialog(xhr, status, args, '#{widgetVar}'); #{oncomplete}"
                                         styleClass="top-space" icon="fa fa-edit"/>
                    </c:if>
                    <s:expression name="cancelActionMethod" value="#{cancelAction}"/>
                    <p:commandButton value="#{sunecitybundle.cancel}" action="#{cancelActionMethod}"
                                     process="@this" oncomplete="PF('#{widgetVar}').hide()"
                                     styleClass="top-space" icon="fa fa-times"/>
                </h:form>
            </p:panel>
        </div>
    </p:dialog>
</ui:composition>