<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:pe="http://primefaces.org/ui/extensions">
    <pe:ckEditor id="#{id}" value="#{value}" rendered="#{rendered or rendered!=false}"
                 width="#{width != null ? width : '600'}" height="#{height != null ? height : '200'}"
                 required="#{required or required==true}" tabindex="#{tabindex}" language="fa" toolbar="[
                 ['Maximize', 'Preview', 'Print'],
                 ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'],
                 ['Find', 'Replace', '-', 'SelectAll', 'CopyFormatting', 'RemoveFormat'],
                 ['Link', 'Unlink'],
                 ['BidiRtl', 'BidiLtr'],
                 '/',
                 ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'],
                 ['Outdent', 'Indent', '-', 'JustifyRight', 'JustifyCenter', 'JustifyLeft', 'JustifyBlock'],
                 ['Image', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', '-', 'Blockquote'],
                 '/',
                 ['Templates', 'Styles', 'Format', 'Font', 'FontSize'],
                 ['TextColor', 'BGColor'],
                 ['NumberedList', 'BulletedList']
                 ]">
        <ui:insert/>
    </pe:ckEditor>
</ui:composition>