<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:dialog widgetVar="#{widgetVar}" closeOnEscape="true"
		header="#{headerText}" appendTo="@(body)" modal="true"
		closable="true" resizable="false" draggable="true" dynamic="true"
		showEffect="fade" hideEffect="fade">
		<h:form id="#{formId}">
			<div align="center">
				<p:dataTable id="tblFiles" var="var" value="#{values}" rows="5"
					paginator="true" emptyMessage="فایلی آپلود نشده است."
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10" paginatorAlwaysVisible="false"
					lazy="true" sortMode="multiple">
					<f:facet name="header">
						<h:outputText value="فایل ها" />
					</f:facet>
					<p:column headerText="نام">
						<h:outputText value="#{var.name}" />
					</p:column>
					<p:column headerText="سایز">
						<h:outputText value="#{var.size}" />
					</p:column>
					<p:column headerText="نوع">
						<h:outputText value="#{var.type}" />
					</p:column>
					<p:column headerText="دانلود">
						<div align="center">
							<p:commandLink ajax="false">
								<p:fileDownload value="#{var.streamedContent}" />
								<h:graphicImage
									value="#{resource['sunecity:image/icon/download.png']}" />
							</p:commandLink>
						</div>
					</p:column>
				</p:dataTable>
			</div>
		</h:form>
	</p:dialog>
</ui:composition>