<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:outputPanel rendered="#{rendered!=false}">
        <div align="left" dir="ltr">
            <p:fileUpload auto="#{auto}" dragDropSupport="true"
                          mode="#{mode==null?'advanced':mode}"
                          sizeLimit="#{sizeLimit==null?200000:sizeLimit}" process="@this"
                          update="#{update}"
                          uploadLabel="#{sunecitybundle.upload}"
                          cancelLabel="#{sunecitybundle.cancel}"
                          label="#{sunecitybundle.choice}"
                          invalidFileMessage="#{sunecitybundle.invalidFile}"
                          invalidSizeMessage="#{sunecitybundle.invalidSize}"
                          multiple="#{multiple==null?true:multiple}"
                          requiredMessage="required" fileUploadListener="#{fileUpload.upload}"
                          value="#{fileUpload.uploadedFile}"
                          fileLimit="#{fileLimit!=null?fileLimit:10}" fileLimitMessage="limit"
                          rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}"
                          required="#{required or required==true}" tabindex="#{tabindex}" style="#{style}"
                          styleClass="#{styleClass}"/>
        </div>
    </p:outputPanel>
    <!--
    <p:outputPanel id="#{id}" rendered="#{rendered!=false}">
        <p:dataTable var="var" value="#{fileUpload.files}" rows="5" paginator="true"
                     emptyMessage="فایلی آپلود نشده است."
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     rowsPerPageTemplate="5,10" paginatorAlwaysVisible="false" rendered="#{mode!='simple'}">
            <f:facet name="header">
                <h:outputText value="فایل های آپلود شده"/>
            </f:facet>
            <p:column headerText="نام">
                <h:outputText value="#{var.name}"/>
            </p:column>
            <p:column headerText="سایز">
                <h:outputText value="#{var.size}"/>
            </p:column>
            <p:column headerText="نوع">
                <h:outputText value="#{var.type}"/>
            </p:column>
            <p:column headerText="حذف">
                <div align="center">
                    <p:commandLink update="@parent:@parent" process="@this">
                        <p:collector value="#{var}" removeFrom="#{fileUpload.files}" unique="flase"/>

                        <div class="fa fa-trash fa-lg"/>
                    </p:commandLink>
                </div>
            </p:column>
        </p:dataTable>
    </p:outputPanel>
    -->
</ui:composition>