<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:dialog widgetVar="#{widgetVar}" closeOnEscape="true" header="#{headerText}"
              appendTo="@(body)" modal="true" closable="true" resizable="true"
              draggable="true" dynamic="true" showEffect="fade" hideEffect="fade">
        <h:form id="#{formId}">
            <div align="#{align==null?'center':align}">
                <p:panelGrid columns="#{columns==null?2:columns}" styleClass="panelgrid-cell">
                    <ui:insert/>
                </p:panelGrid>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>