<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div align="center">
        <p:panelGrid id="#{id}" columns="#{columns==null?2:columns}" styleClass="#{styleClass} panelgrid-cell">
            <f:facet name="header">
                <h:outputText value="#{headerText}"/>
            </f:facet>
            <ui:insert/>
        </p:panelGrid>
    </div>
</ui:composition>