<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:outputStylesheet name="css/reset.css" library="sunecity"/>
    <h:outputScript name="js/sunecity.js" library="sunecity"/>
</ui:composition>