<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:dialog widgetVar="#{widgetVar}" closeOnEscape="true"
              header="#{headerText != null ? headerText : sunecitybundle.information}"
              appendTo="@(body)" modal="true" closable="true" resizable="false"
              draggable="true" dynamic="true" showEffect="fade" hideEffect="fade">
        <h:form id="#{formId}">
            <h:panelGrid id="grdInfo" dir="#{sunecitybundle.dir}" columns="1">
                <p:panel>
                    <p:panelGrid columns="#{columns}" styleClass="center-page panelgrid-noborder">
                        <ui:insert/>
                    </p:panelGrid>
                    <f:facet name="footer">
                        <p:outputPanel style="text-align: center">
                            <p:commandButton value="#{sunecitybundle.print}" type="button" icon="fa fa-print"
                                             process="@none">
                                <p:printer target="grdInfo"/>
                            </p:commandButton>
                            <p:commandButton value="#{sunecitybundle.close}" type="button" icon="fa fa-times"
                                             process="@none" onclick="PF('#{widgetVar}').hide()"/>
                        </p:outputPanel>
                    </f:facet>
                </p:panel>
            </h:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>