<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:outputPanel id="#{id}_label" rendered="#{rendered or rendered!=false}">
        <p:outputLabel value="#{label}:" for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
    <p:outputPanel rendered="#{rendered or rendered!=false}">
        <h:outputText value="#{prefix}"/>
        <p:inputText id="#{id}" value="#{value}" label="#{label}"
                     autocomplete="#{autocomplete != null ? autocomplete : 'on'}"
                     maxlength="#{maxlength!=null?maxlength:256}"
                     size="#{size}" title="#{tooltip}" rendered="#{rendered or rendered!=false}"
                     disabled="#{disabled or disabled==true}" required="#{required or required==true}"
                     tabindex="#{tabindex}" style="#{style}" styleClass="#{styleClass}">
            <ui:insert/>
        </p:inputText>
        <h:outputText value="#{suffix}" style="margin-right: 5px" rendered="#{suffix!=null}"/>
        <p:message for="#{id}" rendered="#{rendered or rendered!=false}"/>
        <!--
                <p:tooltip rendred="#{tooltip!=null}" for="#{id}" showEvent="focus" ideEvent="blur" />
                <p:watermark rendred="#{watermark!=null}" for="#{id}" value="#{watermark}" />
        -->
    </p:outputPanel>
</ui:composition>