<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <p:outputPanel id="#{id}_label" rendered="#{rendered or rendered!=false}">
        <p:outputLabel value="#{label}:" for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
    <p:outputPanel rendered="#{rendered or rendered!=false}">
        <p:inputText id="#{id}" value="#{value}" label="#{label}"
                     autocomplete="#{autocomplete != null ? autocomplete : 'on'}"
                     maxlength="#{maxlength!=null?maxlength:256}"
                     size="#{size}" title="#{tooltip}" rendered="#{rendered or rendered!=false}"
                     disabled="#{disabled or disabled==true}" required="#{required or required==true}"
                     tabindex="#{tabindex}" style="#{style}" styleClass="#{styleClass}">
            <c:if test="#{decimal!=true}">
                <p:keyFilter regEx="/[\u06F0-\u06F9]|[\u0660-\u0669]|\d/"/>
            </c:if>
            <c:if test="#{decimal==true}">
                <p:keyFilter
                        regEx="/[\u06F0-\u06F9]|[\u0660-\u0669]|\d|[\u06F0-\u06F9]-\.|[\u0660-\u0669]-\.|[\d-\.]/"/>
            </c:if> <ui:insert/>
        </p:inputText>
        <p:message for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
</ui:composition>