<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:s="http://sunecity.com/lilium/jsf">
    <p:outputPanel id="#{id}_label" rendered="#{rendered or rendered!=false}">
        <p:outputLabel value="#{label}:" for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
    <p:outputPanel rendered="#{rendered or rendered!=false}">
        <s:expression name="completeMethodAction" value="#{completeMethod}"/>
        <p:inputTextarea id="#{id}" value="#{value}" label="#{label}" completeMethod="#{completeMethodAction}"
                         autoResize="#{autoResize or autoResize != false}" rows="#{rows}" cols="#{cols}"
                         autocomplete="#{autocomplete != null ? autocomplete : 'on'}" title="#{tooltip}"
                         queryDelay="#{queryDelay != null ? queryDelay : 700}"
                         minQueryLength="#{minQueryLength != null ? minQueryLength : 3}"
                         rendered="#{rendered or rendered != false}" disabled="#{disabled or disabled == true}"
                         required="#{required or required == true}" tabindex="#{tabindex}" style="#{style}"
                         styleClass="#{styleClass}">
            <ui:insert/>
        </p:inputTextarea>
        <p:message for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
</ui:composition>