<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <c:if test="#{formId!=null}">
        <h:form id="#{formId}">
            <ui:include src="/sunecity/include/dataTable/lazyDataTable.xhtml"/>
        </h:form>
    </c:if>
    <c:if test="#{formId==null}">
        <ui:include src="/sunecity/include/dataTable/lazyDataTable.xhtml"/>
    </c:if>

    <p:dialog widgetVar="#{tableId}_dlgDelete" closeOnEscape="true"
              header="#{sunecitybundle.deleteMessage}" appendTo="@(body)" modal="true"
              closable="true" resizable="false" draggable="true" dynamic="true"
              showEffect="fade" hideEffect="fade" rendered="#{delete!=false}">
        <h:form>
            <ui:include src="/sunecity/include/dataTable/dlgDelete.xhtml"/>
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="#{tableId}_dlgDeleteMany" closeOnEscape="true"
              header="#{sunecitybundle.confirm}" appendTo="@(body)" modal="true"
              closable="true" resizable="false" draggable="true" dynamic="true"
              showEffect="fade" hideEffect="fade" rendered="#{delete!=false}">
        <h:form id="#{tableId}_frmDeleteMany">
            <ui:include src="/sunecity/include/dataTable/dlgDeleteMany.xhtml"/>
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="#{tableId}_dlgInfo" closeOnEscape="true"
              header="#{sunecitybundle['action.info']}" appendTo="@(body)" modal="true"
              closable="true" resizable="false" draggable="true" dynamic="true"
              showEffect="fade" hideEffect="fade" rendered="#{info!=false}">
        <h:form>
            <ui:include src="/sunecity/include/dataTable/dlgInfo.xhtml"/>
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="#{tableId}_dlgStatistic" closeOnEscape="true"
              header="#{sunecitybundle.information}" appendTo="@(body)" modal="true"
              closable="true" resizable="false" draggable="true" dynamic="true"
              showEffect="fade" hideEffect="fade" rendered="#{statistic!=false}">
        <p:panel widgetVar="#{tableId}_pnlStatistic">
            <h:form id="#{tableId}_frmStatistic">
                <div align="center">
                    <p:panelGrid columns="2">
                        <f:facet name="header">
                            <h:outputText value="#{sunecitybundle['action.info']}"/>
                        </f:facet>
                        <f:facet name="footer">
                            <div align="center">
                                <p:commandButton value="#{sunecitybundle.close}" icon="fa fa-times"
                                                 oncomplete="PF('#{tableId}_dlgStatistic').hide()"/>
                            </div>
                        </f:facet>
                        <h:outputText value="نام کاربری ثبت کننده: " style="font-weight: bold; font-size: 1em;"/>
                        <h:outputText value="#{bean.selectedEntity.entityStatistic.saveUsername}"/>
                        <h:outputText value="تاریخ ثبت: " style="font-weight: bold; font-size: 1em;"/>
                        <h:outputText value="#{bean.selectedEntity.entityStatistic.createTimestamp.dateTimePretty}"/>
                        <h:outputText value="نام کاربری آخرین ویرایش کننده: "
                                      style="font-weight: bold; font-size: 1em;"/>
                        <h:outputText value="#{bean.selectedEntity.entityStatistic.lastUpdateUsername}"/>
                        <h:outputText value="تاریخ آخرین ویرایش: " style="font-weight: bold; font-size: 1em;"/>
                        <h:outputText
                                value="#{bean.selectedEntity.entityStatistic.lastUpdateTimestamp.dateTimePretty}"/>
                    </p:panelGrid>
                </div>
            </h:form>
        </p:panel>
    </p:dialog>

    <!--
    <p:dialog widgetVar="#{tableId}_dlgAudit" closeOnEscape="true"
        header="#{sunecitybundle.information}" appendTo="@(body)"
        modal="true" closable="true" resizable="false" draggable="true"
        dynamic="true" showEffect="fade" hideEffect="fade"
        rendered="#{info!='false'}">
        <h:form id="#{formId}_frmAudit">
            <div align="center">
                <p:dataTable>

                </p:dataTable>
            </div>
        </h:form>
    </p:dialog>
-->

    <p:dialog widgetVar="#{tableId}_dlgReport" closeOnEscape="true"
              header="#{sunecitybundle['reportAndPrint']}" appendTo="@(body)" modal="true"
              closable="true" resizable="false" draggable="true" dynamic="true"
              showEffect="fade" hideEffect="fade" rendered="#{export!=false}" styleClass="report-dialog">
        <ui:include src="/sunecity/include/dataTable/dlgReport.xhtml"/>
    </p:dialog>

</ui:composition>