<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<div align="center" dir="ltr">
		<p:panelGrid columns="1" rendered="#{rendered!=false}"
			style="width:90%;text-align: center">
			<p:pieChart id="#{widgetVar}_id" widgetVar="#{widgetVar}"
				value="#{value}" legendPosition="e" />
			<p:commandButton type="button" value="خروجی به تصویر"
				icon="ui-icon-extlink"
				onclick="exportChart(#{widgetVar}); PF('#{widgetVar}_dlg').show()" />
		</p:panelGrid>
	</div>
	<p:dialog widgetVar="#{widgetVar}_dlg" closeOnEscape="true"
		header="خروجی نمودار به تصویر" appendToBody="true" modal="true"
		closable="true" resizable="false" draggable="true" showEffect="fade"
		hideEffect="fade">
		<p:outputPanel id="#{widgetVar}_id_output" layout="block" />
	</p:dialog>
</ui:composition>