<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:commandLink value="#{sunecitybundle.logout}" action="#{logout.logout}">
        <span class="fa fa-power-off"/>
    </h:commandLink>
</ui:composition>