<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:outputText value="#{value.sunecityDate}" rendered="#{mode=='DATE'}" />
	<h:outputText value="#{value.sunecityDateTime}"
		rendered="#{mode=='DATE_TIME'}" />
	<h:outputText value="#{value.datePretty}"
		rendered="#{mode=='DATE_PRETTY'}" />
	<h:outputText value="#{value.dateTimePretty}"
		rendered="#{mode=='DATE_TIME_PRETTY'}" />
	<h:outputText value="#{value.pretty}" rendered="#{mode=='PRETTY'}" />
</ui:composition>