<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:outputText rendered="#{rendered or rendered!=false}" value="#{label}:" style="#{style}"/>
    <h:outputText id="#{id}" value="#{value}" rendered="#{rendered or rendered!=false}">
        <ui:insert/>
    </h:outputText>
</ui:composition>