<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:form id="#{formId}">
		<div align="center">
			<p:panel id="pnlSave" headerText="#{headerText}">
				<ui:insert />
			</p:panel>
		</div>
	</h:form>
</ui:composition>