<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:outputLabel for="#{id}" value="#{label}" />
	<h:panelGroup>
		<p:password id="#{id}" value="#{value}" feedback="#{feedback=='true'}"
			label="#{label}" required="true" inline="true" autocomplete="false"
			promptLabel="لطفا کلمه عبور را وارد نمایید" weakLabel="ضعیف"
			goodLabel="متوسط" strongLabel="خوب" />
		<p:message for="#{id}" />
	</h:panelGroup>
</ui:composition>