<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:outputLabel for="#{passwordId}"
		value="#{sunecitybundle['login.password']}:" />
	<h:panelGroup>
		<p:password id="#{passwordId}" value="#{value}" feedback="true"
			match="#{confirmId}" label="#{sunecitybundle['login.password']}"
			required="true" inline="true" autocomplete="false"
			promptLabel="لطفا کلمه عبور را وارد نمایید" weakLabel="ضعیف"
			goodLabel="متوسط" strongLabel="خوب" />
		<p:message for="#{passwordId}" />
	</h:panelGroup>
	<p:outputLabel for="#{confirmId}"
		value="#{sunecitybundle['login.confirm']}:" />
	<p:password id="#{confirmId}" value="#{value}" autocomplete="false"
		label="#{sunecitybundle['login.confirm']}" required="true" />
</ui:composition>