<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:pickList id="#{id}" value="#{values}" var="#{variable!=null?variable:'var'}"
                itemLabel="#{itemLabel}" itemValue="#{itemValue}" showSourceFilter="#{filter==true}"
                showTargetFilter="#{filter==true}" filterMatchMode="#{filterMatchMode!=null?filterMatchMode:'contains'}"
                converter="#{converterBean.converterDualList(values)}" disabled="#{disabled==true}" rendered="#{rendered!=false}"><ui:insert/>
    </p:pickList>
</ui:composition>