<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<div align="center" dir="ltr">
		<p:panelGrid columns="1" rendered="#{rendered!=false}"
			style="width:90%;text-align: center">
			<p:pieChart id="#{widgetVar}_id" widgetVar="#{widgetVar}"
				value="#{value}" legendPosition="e" />
			<p:commandButton value="دریافت نمودار" icon="ui-icon-arrowthick-1-s"
				onclick="PrimeFaces.monitorDownload(statusStart, statusStop);downloadChart(#{widgetVar})"
				ajax="false" actionListener="#{exportChart.exportChart}">
				<p:fileDownload value="#{exportChart.file}" />
			</p:commandButton>
			<h:inputHidden id="#{widgetVar}_id_ept" value="#{exportChart.chart}" />
		</p:panelGrid>
	</div>
</ui:composition>