<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:panel id="#{id}">
        <iframe src="#{reportViewer.show(reportPath, params)}" frameborder="0"
                style="display: block; width:100%; height:300px;"></iframe>
        <f:facet name="footer">
            <p:commandButton value="pdf"/>
            <p:commandButton value="xls"/>
        </f:facet>
    </p:panel>

</ui:composition>