<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<div align="center">
		<p:panel>
			<h:panelGrid columns="1">
				<p:panelGrid columns="5">
					<h:outputText value="عنوان: " />
					<p:inputText id="title" value="#{report.reportHeader}" />
					<h:outputText value="اندازه: " />
					<p:selectOneMenu appendTo="@this" id="page" value="#{report.page}">
						<f:selectItems value="#{report.pages}" />
					</p:selectOneMenu>
					<p:selectOneMenu appendTo="@this" id="orientation" value="#{report.page.portrait}">
						<f:selectItem itemLabel="عمودی" itemValue="true" />
						<f:selectItem itemLabel="افقی" itemValue="false" />
					</p:selectOneMenu>
				</p:panelGrid>
				<p:toolbar>
					<p:toolbarGroup align="#{sunecitybundle.align}">
						<h:panelGrid columns="10">
							<h:panelGroup>
								<p:commandLink id="pdf"
									process="@this listExport title page orientation"
									action="#{report.btnExportClick('PDF')}"
									oncomplete="#{formId}_dlgDownloadLink.show()"
									update=":#{formId}_frmDownloadLink">
									<p:graphicImage
										value="#{resource['sunecity:image/icon/report/pdf.png']}" />
								</p:commandLink>
								<pe:tooltip for="pdf" myPosition="top right" value="pdf" />
							</h:panelGroup>
							<h:panelGroup>
								<p:commandLink id="xlsx"
									process="@this listExport title page orientation"
									action="#{report.btnExportClick('XLSX')}"
									oncomplete="#{formId}_dlgDownloadLink.show()"
									update=":#{formId}_frmDownloadLink">
									<p:graphicImage
										value="#{resource['sunecity:image/icon/report/xlsx.png']}" />
								</p:commandLink>
								<pe:tooltip for="xlsx" myPosition="top right" value="xlsx" />
							</h:panelGroup>
							<h:panelGroup>
								<p:commandLink id="docx"
									process="@this listExport title page orientation"
									action="#{report.btnExportClick('DOCX')}"
									oncomplete="#{formId}_dlgDownloadLink.show()"
									update=":#{formId}_frmDownloadLink">
									<p:graphicImage
										value="#{resource['sunecity:image/icon/report/docx.png']}" />
								</p:commandLink>
								<pe:tooltip for="docx" myPosition="top right" value="docx" />
							</h:panelGroup>
							<h:panelGroup>
								<p:commandLink id="pptx"
									process="@this listExport title page orientation"
									action="#{report.btnExportClick('PPTX')}"
									oncomplete="#{formId}_dlgDownloadLink.show()"
									update=":#{formId}_frmDownloadLink">
									<p:graphicImage
										value="#{resource['sunecity:image/icon/report/pptx.png']}" />
								</p:commandLink>
								<pe:tooltip for="pptx" myPosition="top right" value="pptx" />
							</h:panelGroup>
							<h:panelGroup>
								<p:commandLink id="odt"
									process="@this listExport title page orientation"
									action="#{report.btnExportClick('ODT')}"
									oncomplete="#{formId}_dlgDownloadLink.show()"
									update=":#{formId}_frmDownloadLink">
									<p:graphicImage
										value="#{resource['sunecity:image/icon/report/odt.png']}" />
								</p:commandLink>
								<pe:tooltip for="odt" myPosition="top right" value="odt" />
							</h:panelGroup>
							<h:panelGroup>
								<p:commandLink id="ods"
									process="@this listExport title page orientation"
									action="#{report.btnExportClick('ODS')}"
									oncomplete="#{formId}_dlgDownloadLink.show()"
									update=":#{formId}_frmDownloadLink">
									<p:graphicImage
										value="#{resource['sunecity:image/icon/report/ods.png']}" />
								</p:commandLink>
								<pe:tooltip for="ods" myPosition="top right" value="ods" />
							</h:panelGroup>
							<h:panelGroup>
								<p:commandLink id="csv"
									process="@this listExport title page orientation"
									action="#{report.btnExportClick('CSV')}"
									oncomplete="#{formId}_dlgDownloadLink.show()"
									update=":#{formId}_frmDownloadLink">
									<p:graphicImage
										value="#{resource['sunecity:image/icon/report/csv.png']}" />
								</p:commandLink>
								<pe:tooltip for="csv" myPosition="top right" value="csv" />
							</h:panelGroup>
							<h:panelGroup>
								<p:commandLink id="rtf"
									process="@this listExport title page orientation"
									action="#{report.btnExportClick('RTF')}"
									oncomplete="#{formId}_dlgDownloadLink.show()"
									update=":#{formId}_frmDownloadLink">
									<p:graphicImage
										value="#{resource['sunecity:image/icon/report/rtf.png']}" />
								</p:commandLink>
								<pe:tooltip for="rtf" myPosition="top right" value="rtf" />
							</h:panelGroup>
							<h:panelGroup>
								<p:commandLink id="html"
									process="@this listExport title page orientation"
									action="#{report.btnExportClick('HTML')}"
									oncomplete="#{formId}_dlgDownloadLink.show()"
									update=":#{formId}_frmDownloadLink">
									<p:graphicImage
										value="#{resource['sunecity:image/icon/report/html.png']}" />
								</p:commandLink>
								<pe:tooltip for="html" myPosition="top right" value="html" />
							</h:panelGroup>
						</h:panelGrid>
					</p:toolbarGroup>
				</p:toolbar>
			</h:panelGrid>
		</p:panel>
	</div>
	<p:dialog widgetVar="#{formId}_dlgDownloadLink" closeOnEscape="true"
		header="دریافت فایل" appendToBody="true" modal="true" closable="true"
		resizable="false" draggable="true" dynamic="true" showEffect="fade"
		hideEffect="fade">
		<h:form id="#{formId}_frmDownloadLink">
			<div align="center">
				<h:outputLink value="#{report.reportPath}" target="blank">
					<h:outputText value="#{report.reportPath}" />
				</h:outputLink>
			</div>
		</h:form>
	</p:dialog>
</ui:composition>