<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <c:if test="#{formId!=null}">
        <h:form id="#{formId}">
            <h:panelGrid columns="1" rendered="#{rendered or rendered!=false}">
                <p:panel styleClass="#{styleClass}">
                    <p:panelGrid columns="#{columns}" styleClass="center-page panelgrid-noborder">
                        <!--<f:facet name="header">-->
                        <!--<h:outputText value="#{headerText}"/>-->
                        <!--</f:facet>-->

                        <ui:insert/>
                    </p:panelGrid>
                    <f:facet name="footer">
                        <p:outputPanel styleClass="center">
                            <p:commandButton id="#{formId}_btnSave" value="#{sunecitybundle.save}"
                                             action="#{bean.btnSaveClick}" process="@parent:@parent:@parent:@parent"
                                             update="@parent:@parent:@parent:@parent #{update}"
                                             oncomplete="#{oncomplete}" icon="fa fa-save" tabindex="#{tabindex}"/>
                            <p:commandButton value="#{sunecitybundle.cancel}"
                                             action="#{bean.btnResetClick}" update="@parent:@parent:@parent:@parent"
                                             process="@this" icon="fa fa-sync">
                                <p:resetInput target="@parent:@parent"/>
                            </p:commandButton>
                        </p:outputPanel>
                    </f:facet>
                </p:panel>
            </h:panelGrid>
            <p:blockUI block="@parent:@child(0):@child(0)" trigger="#{formId}_btnSave">
                <h:outputText value="#{sunecitybundle.loading}"/>
                <br/>
                <div class="fa fa-spinner fa-pulse fa-3x"></div>
            </p:blockUI>
        </h:form>
    </c:if>
    <c:if test="#{formId==null}">
        <h:panelGrid columns="1">
            <p:panel styleClass="#{styleClass}" rendered="#{rendered or rendered!=false}">
                <p:panelGrid columns="#{columns}" styleClass="center-page panelgrid-noborder">
                    <!--<f:facet name="header">-->
                    <!--<h:outputText value="#{headerText}"/>-->
                    <!--</f:facet>-->

                    <ui:insert/>
                </p:panelGrid>
                <f:facet name="footer">
                    <p:outputPanel styleClass="center">
                        <p:commandButton value="#{sunecitybundle.save}"
                                         action="#{bean.btnSaveClick}" process="@parent:@parent:@parent:@parent"
                                         update="#{update} @parent:@parent:@parent:@parent"
                                         oncomplete="#{oncomplete}" styleClass="top-space" icon="fa fa-save"/>
                        <p:commandButton value="#{sunecitybundle.cancel}"
                                         rendered="#{resetRendered!=false}" action="#{bean.btnResetClick}"
                                         update="@parent:@parent:@parent:@parent" process="@this" styleClass="top-space"
                                         icon="fa fa-sync">
                            <p:resetInput target="@parent:@parent"/>
                        </p:commandButton>
                    </p:outputPanel>
                </f:facet>
            </p:panel>
        </h:panelGrid>
        <!--<p:blockUI block="@parent:grdSave" trigger="btnSave">-->
        <!--<h:outputText value="#{sunecitybundle.loading}" />-->
        <!--<br />-->
        <!--<div class="fa fa-spinner fa-pulse fa-3x"></div>-->
        <!--</p:blockUI>-->
    </c:if>
</ui:composition>