<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:form id="#{formId}">
        <div align="center">
            <p:panel id="pnlSave" headerText="#{headerText}" styleClass="#{styleClass}"
                     rendered="#{rendered or rendered!=false}">
                <f:facet name="footer">
                    <div align="center">
                        <p:commandButton id="btnSave"
                                         value="#{saveLabel==null?sunecitybundle.save:saveLabel}"
                                         action="#{bean.btnSaveClick}"
                                         process="#{saveProcess==null?'@form':saveProcess}"
                                         update="@form #{update}" tabindex="#{tabindex}" styleClass="top-space"
                                         icon="fa fa-floppy-o" disabled="#{saveDisabled==true}"/>
                        <!--
                        <p:commandButton value="#{sunecitybundle.cancel}"
                            action="#{bean.btnResetClick}" update="@form" process="@this"
                            styleClass="top-space" icon="ui-icon-close" disabled="#{disabled==true}">
                            <p:resetInput target="#{formId}" />
                        </p:commandButton>
-->
                    </div>
                </f:facet>
                <ui:insert/>
            </p:panel>
        </div>
        <!--
        <p:blockUI block=":#{formId}:grdSave" trigger="btnSave">
            <h:outputText value="#{sunecitybundle.loading}" />
            <br />
            <p:graphicImage
                value="#{resource['sunecity:image/icon/ajax-loader.gif']}" />
        </p:blockUI>
        <p:blockUI rendered="#{block != null}" block="#{block}"
            trigger="btnSave">
            <h:outputText value="#{sunecitybundle.loading}" />
            <br />
            <p:graphicImage
                value="#{resource['sunecity:image/icon/ajax-loader.gif']}" />
        </p:blockUI>
-->
    </h:form>
</ui:composition>