<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <c:if test="#{formId!=null}">
        <h:form id="#{formId}">
            <h:panelGrid columns="1">
                <p:panel styleClass="#{styleClass}">
                    <p:panelGrid columns="#{columns}" styleClass="center-page panelgrid-noborder">
                        <ui:insert/>
                    </p:panelGrid>
                    <f:facet name="footer">
                        <p:outputPanel styleClass="center">
                            <p:commandButton value="#{sunecitybundle.search}" action="#{bean.btnSearchClick}"
                                             process="@parent:@parent" update="@parent:@parent #{update}"
                                             oncomplete="#{oncomplete}" icon="fa fa-search" tabindex="#{tabindex}"/>
                            <p:commandButton value="#{sunecitybundle.cancel}" action="#{bean.btnResetClick}"
                                             update="@parent:@parent" process="@this" icon="fa fa-refresh">
                                <p:resetInput target="@parent:@parent"/>
                            </p:commandButton>
                        </p:outputPanel>
                    </f:facet>
                </p:panel>
            </h:panelGrid>
            <!--<p:blockUI block="@parent:grdSave" trigger="btnSave">-->
            <!--<h:outputText value="#{sunecitybundle.loading}" />-->
            <!--<br />-->
            <!--<div class="fa fa-spinner fa-pulse fa-3x"></div>-->
            <!--</p:blockUI>-->
        </h:form>
    </c:if>
    <c:if test="#{formId==null}">
        <h:panelGrid columns="1">
            <p:panel styleClass="#{styleClass}">
                <p:panelGrid columns="#{columns}" styleClass="center-page panelgrid-noborder">
                    <ui:insert/>
                </p:panelGrid>
                <f:facet name="footer">
                    <p:outputPanel styleClass="center">
                        <p:commandButton value="#{sunecitybundle.search}" action="#{bean.btnSearchClick}"
                                         process="@parent:@parent" update="#{update} @parent:@parent"
                                         oncomplete="#{oncomplete}" styleClass="top-space" icon="fa fa-search"/>
                        <p:commandButton value="#{sunecitybundle.cancel}" action="#{bean.btnResetClick}"
                                         update="@parent:@parent" process="@this" rendered="#{resetRendered!=false}"
                                         styleClass="top-space" icon="fa fa-refresh">
                            <p:resetInput target="@parent:@parent"/>
                        </p:commandButton>
                    </p:outputPanel>
                </f:facet>
            </p:panel>
        </h:panelGrid>
        <!--<p:blockUI block="@parent:grdSave" trigger="btnSave">-->
        <!--<h:outputText value="#{sunecitybundle.loading}" />-->
        <!--<br />-->
        <!--<div class="fa fa-spinner fa-pulse fa-3x"></div>-->
        <!--</p:blockUI>-->
    </c:if>
    <!--<p:blockUI rendered="#{block != null}" block="#{block}"-->
    <!--trigger="btnSave">-->
    <!--<h:outputText value="#{sunecitybundle.loading}" />-->
    <!--<br />-->
    <!--<div class="fa fa-spinner fa-pulse fa-3x"></div>-->
    <!--</p:blockUI>-->
</ui:composition>