<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:selectOneRadio id="#{id}" value="#{value}" label="#{label}"
                      converter="#{converterBean.converter(values)}" rendered="#{rendered or rendered!=false}"
                      disabled="#{disabled or disabled==true}" required="#{required or required==true}"
                      tabindex="#{tabindex}" style="#{style}" styleClass="#{styleClass}">
        <f:selectItems value="#{values}" var="var" itemLabel="#{itemLabel}"/>
        <ui:insert/>
    </p:selectOneRadio>
</ui:composition>