<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">
    <p:outputPanel id="#{id}_label" rendered="#{rendered or rendered!=false}">
        <p:outputLabel rendered="#{rendered or rendered!=false}" value="#{label}:"/>
    </p:outputPanel>
    <p:outputPanel rendered="#{rendered or rendered!=false}">
        <c:if test="#{colvar == null}">
            <p:selectOneMenu appendTo="@this" id="#{id}" value="#{value}" converter="#{converterBean.converter(values)}"
                             filterMatchMode="#{filterMatchMode!=null?filterMatchMode:'contains'}"
                             rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}"
                             required="#{required or required==true}" tabindex="#{tabindex}" style="#{style}"
                             filter="#{filter==true}" styleClass="#{styleClass}">
                <c:if test="#{defaultLabel != false}" filter="#{filter==true}">
                    <f:selectItem itemLabel="#{sunecitybundle.choose}"/>
                </c:if>
                <f:selectItems value="#{values}" var="#{variable!=null?variable:'var'}" itemLabel="#{itemLabel}"/>
                <ui:insert/>
            </p:selectOneMenu>
        </c:if>
        <c:if test="#{colvar != null}">
            <c:if test="#{defaultLabel != false}" filter="#{filter==true}">
                <f:selectItem itemLabel="#{sunecitybundle.choose}"/>
            </c:if>
            <p:selectOneMenu appendTo="@this" id="#{id}" value="#{value}" converter="#{converterBean.converter(values)}"
                             filterMatchMode="#{filterMatchMode!=null?filterMatchMode:'contains'}"
                             rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}"
                             required="#{required or required==true}" tabindex="#{tabindex}" style="#{style}"
                             styleClass="#{styleClass}" filter="#{filter==true}" var="#{colvar}">
                <f:selectItems value="#{values}" var="#{variable!=null?variable:'var'}" itemLabel="#{itemLabel}"/>
                <ui:insert/>
            </p:selectOneMenu>
        </c:if>
        <p:message for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
</ui:composition>
