<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:panelGroup id="#{id}_label" rendered="#{rendered or rendered!=false}">
        <p:outputLabel rendered="#{rendered or rendered!=false}" value="#{label}:" for="#{id}"/>
    </h:panelGroup>
    <h:panelGroup rendered="#{rendered or rendered!=false}">
        <p:selectManyCheckbox id="#{id}" value="#{value}" label="#{label}" columns="#{columns!=null?columns:0}"
                              layout="#{layout!=null?layout:'lineDirection'}"
                              converter="#{converterBean.converter(values)}" filter="true" filterMatchMode="contains"
                              rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}"
                              required="#{required or required==true}" tabindex="#{tabindex}" style="#{style}"
                              styleClass="#{styleClass}">
            <f:selectItems value="#{values}" var="#{variable!=null?variable:'var'}" itemLabel="#{itemLabel}"/>
            <ui:insert/>
        </p:selectManyCheckbox>
        <p:message for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </h:panelGroup>
</ui:composition>