<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <p:outputPanel rendered="#{rendered or rendered!=false}">
        <p:selectCheckboxMenu id="#{id}" value="#{value}" label="#{label}"
                              converter="#{converterBean.converter(values)}"
                              filter="true" filterMatchMode="contains" rendered="#{rendered or rendered!=false}"
                              disabled="#{disabled or disabled==true}" required="#{required or required==true}"
                              tabindex="#{tabindex}" style="#{style}" styleClass="#{styleClass}">
            <f:selectItems value="#{values}" var="#{variable!=null?variable:'var'}" itemLabel="#{itemLabel}"/>
            <c:if test="#{showSelected or showSelected==true}">
                <p:ajax event="change" process="@this" update="#{id}_tooltip"/>
            </c:if>
            <ui:insert/>
        </p:selectCheckboxMenu>
        <p:outputPanel id="#{id}_tooltip">
            <pe:tooltip for="#{id}" myPosition="top, right" rendered="#{showSelected or showSelected==true}">
                <div dir="#{sunecitybundle.dir}" align="#{sunecitybundle.align}">
                    <h:selectOneListbox readonly="true">
                        <f:selectItems value="#{value}" var="#{variable!=null?variable:'var'}"
                                       itemLabel="#{itemLabel}"/>
                    </h:selectOneListbox>
                </div>
            </pe:tooltip>
        </p:outputPanel>
    </p:outputPanel>
</ui:composition>