<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <c:if test="#{colvar == null}">
        <p:selectOneMenu appendTo="@this" id="#{id}" value="#{value}" label="#{label}" converter="#{converterBean.converter(values)}"
                         filter="#{filter==true}" filterMatchMode="#{filterMatchMode!=null?filterMatchMode:'contains'}"
                         rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}"
                         required="#{required or required==true}" tabindex="#{tabindex}" style="#{style}"
                         styleClass="#{styleClass}">
            <c:if test="#{defaultLabel != false}">
                <f:selectItem itemLabel="#{sunecitybundle.choose}"/>
            </c:if>
            <f:selectItems value="#{values}" var="#{variable!=null?variable:'var'}" itemLabel="#{itemLabel}"
                           itemValue="#{variable!=null?variable:var}"/>
            <ui:insert/>
        </p:selectOneMenu>
    </c:if>
    <c:if test="#{colvar != null}">
        <p:selectOneMenu appendTo="@this" id="#{id}" value="#{value}" label="#{label}" converter="#{converterBean.converter(values)}"
                         filter="#{filter==true}" filterMatchMode="#{filterMatchMode!=null?filterMatchMode:'contains'}"
                         rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}"
                         required="#{required or required==true}" tabindex="#{tabindex}" style="#{style}"
                         styleClass="#{styleClass}" var="#{colvar}">
            <c:if test="#{defaultLabel != false}">
                <f:selectItem itemLabel="#{sunecitybundle.choose}"/>
            </c:if>
            <f:selectItems value="#{values}" var="#{variable!=null?variable:'var'}"
                           itemValue="#{variable!=null?variable:var}" itemLabel="#{itemLabel}"/>
            <ui:insert/>
        </p:selectOneMenu>
    </c:if>
</ui:composition>