<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:outputPanel id="#{id}_label" rendered="#{rendered or rendered!=false}">
        <p:outputLabel rendered="#{rendered or rendered!=false}" value="#{label}:" for="#{id}"/>
    </p:outputPanel>
    <p:outputPanel rendered="#{rendered or rendered!=false}">
        <p:selectOneListbox id="#{id}" value="#{value}" label="#{label}"
                            scrollHeight="#{scrollHeight!=null?scrollHeight:226}"
                            converter="#{converterBean.converter(values)}" filter="#{filter==true}"
                            filterMatchMode="#{filterMatchMode!=null?filterMatchMode:'contains'}"
                            rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}"
                            required="#{required or required==true}" tabindex="#{tabindex}" style="#{style}"
                            styleClass="#{styleClass}">
            <f:selectItems value="#{values}" var="#{variable!=null?variable:'var'}" itemLabel="#{itemLabel}"/>
            <ui:insert/>
        </p:selectOneListbox>
        <p:message for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
</ui:composition>