<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:selectBooleanCheckbox id="#{id}" value="#{value}" label="#{label}" rendered="#{rendered or rendered!=false}"
                             disabled="#{disabled or disabled==true}" required="#{required or required==true}"
                             tabindex="#{tabindex}" style="#{style}" styleClass="#{styleClass}">
        <ui:insert/>
    </p:selectBooleanCheckbox>
</ui:composition>