<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sunecity.com/lilium/jsf"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
	<h:panelGroup id="#{overlayId}">
		<p:commandButton id="#{widgetVar}_buttonId" value="#{label}"
			type="button" disabled="#{disabled==true}" />
		<p:overlayPanel widgetVar="#{widgetVar}" for="#{widgetVar}_buttonId"
			dynamic="false" showEffect="fade" hideEffect="fade">
			<p:outputPanel>
				<p:dataTable binding="#{values.dataTable}" value="#{values}"
					var="var" rowIndexVar="rowIndex" paginator="true"
					paginatorPosition="bottom"
					paginatorTemplate="#{sunecitybundle.paginatorTemplate}"
					currentPageReportTemplate="#{sunecitybundle.currentPageReportTemplate}"
					rows="10" sortMode="multiple"
					rowsPerPageTemplate="#{sunecitybundle.rowsPerPageTemplate}"
					emptyMessage="#{sunecitybundle.emptyMessage}" lazy="true">
					<!--
				<p:ajax event="rowSelect" update=":#{formId}:#{outputId} #{update}"
					oncomplete="#{widgetVar}.hide()" />
				-->
					<p:column headerText="#{sunecitybundle.row}">
						<div align="center">
							<h:outputText value="#{numbers.getText(rowIndex + 1)}" />
						</div>
					</p:column>
					<p:columns value="#{values.columns}" var="column"
						rendered="#{showColumns!='false'}"
						headerText="#{column.displayName}" sortBy="#{var[column.name]}">
						<h:outputText value="#{var[column.name]}" />
					</p:columns>
					<ui:insert />
					<p:column headerText="#{sunecitybundle.choice}">
						<div align="center">
							<s:expression name="actionMethod" value="#{action}" />
							<p:commandButton action="#{actionMethod}"
								oncomplete="PF('#{widgetVar}').hide()" icon="ui-icon-choose"
								process="@this" update=":#{formId}:#{id} #{update}">
								<f:setPropertyActionListener target="#{value}" value="#{var}" />
							</p:commandButton>
						</div>
					</p:column>
				</p:dataTable>
			</p:outputPanel>
		</p:overlayPanel>
	</h:panelGroup>
	<h:panelGroup id="#{id}">
		<p:inputText value="#{itemLabel}" readonly="true"
			disabled="#{disabled==true}" />
		<p:inputText id="#{widgetVar}_inputId" type="hidden" required="true"
			rendered="#{required==true and value==null}" />
		<s:expression name="clearActionMethod" value="#{clearAction}" />
		<p:commandButton icon="ui-icon-close" action="#{clearActionMethod}"
			process="@this" update="#{id} #{update}" rendered="#{value!=null}" />
		<p:message for="#{widgetVar}_inputId" />
	</h:panelGroup>
</ui:composition>