<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:outputPanel id="#{id}_label" rendered="#{rendered or rendered!=false}">
        <p:outputLabel value="#{label}:" for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
    <p:outputPanel rendered="#{rendered or rendered!=false}">
        <p:selectBooleanCheckbox id="#{id}" value="#{value}" label="#{label}" rendered="#{rendered or rendered!=false}"
                                 disabled="#{disabled or disabled==true}" required="#{required or required==true}"
                                 tabindex="#{tabindex}" style="#{style}" styleClass="#{styleClass}">
            <ui:insert/>
        </p:selectBooleanCheckbox>
        <p:message for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </p:outputPanel>
</ui:composition>