<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:outputLabel value="#{label}:" for="#{id}" rendered="#{rendered!=false and label!=null}"/>
    <h:panelGroup rendered="#{rendered!=false}">
        <p:selectOneButton id="#{id}" converter="#{converterBean.converter(values)}" value="#{value}"
                           rendered="#{rendered or rendered!=false}" disabled="#{disabled or disabled==true}"
                           required="#{required or required==true}" tabindex="#{tabindex}" style="#{style}"
                           styleClass="#{styleClass}">
            <ui:insert/>
            <f:selectItems value="#{values}" var="var" itemLabel="#{itemLabel}"/>
        </p:selectOneButton>
        <p:message for="#{id}"/>
    </h:panelGroup>
</ui:composition>