<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <script>
        window['webSocket' + '#{id}'] = new WebSocket('#{url}');
        window['webSocket' + '#{id}'].onerror = function (event) {
            console.error(event);
        };
        window['webSocket' + '#{id}'].onmessage = function (event) {
            var data = JSON.parse(event.data);
            if (!("Notification" in window)) {
                console.log("This browser does not support desktop notifications");
            } else if (Notification.permission === "granted") {
                window['notification' + '#{id}'](data);
            } else if (Notification.permission !== "denied") {
                Notification.requestPermission(function (permission) {
                    if (permission === "granted") {
                        window['notification' + '#{id}'](data);
                    }
                });
            }
        };
        window['notification' + '#{id}'] = function notification(data) {
            var notification = new Notification(data.title, {
                dir: '#{sunecitybundle.dir}',
                icon: '#{icon}',
                requireInteraction: #{timeout == null},
                body: data.detail
            });
            if (#{audio != null}) {
                var audio = new Audio('#{audio}');
                audio.loop = false;
                audio.play();
            }
            if (#{timeout != null}) {
                setTimeout(function () {
                    notification.close();
                }, '#{timeout}');
            }
        }
    </script>
</ui:composition>