<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:ajaxStatus>
		<f:facet name="start">
			<p:graphicImage
				style="float:right;vertical-align: bottom;margin-top: 5px;margin-right: 5px;margin-left: 5px"
				value="#{resource['sunecity:image/icon/ajax-status.gif']}" />
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>
</ui:composition>