<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:dialog widgetVar="#{widgetVar}" closeOnEscape="true"
		header="#{headerText}" appendTo="@(body)" modal="true"
		closable="true" resizable="true" draggable="true" dynamic="true"
		showEffect="fade" hideEffect="fade">
		<h:form id="#{formId}">
			<div align="#{align==null?'center':align}">
				<p:dataTable value="#{values}" var="var">
					<ui:insert />
				</p:dataTable>
			</div>
		</h:form>
	</p:dialog>
</ui:composition>