<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <c:if test="#{tabFormId!=null}">
        <h:form id="#{tabFormId}">
            <p:tabView id="#{id}" rendered="#{rendered or rendered!=false}"
                       style="background: transparent" styleClass="top-space"
                       dynamic="#{dynamic == true}" cache="#{cache == true}">
                <ui:insert/>
            </p:tabView>
        </h:form>
    </c:if>

    <c:if test="#{tabFormId==null}">
        <p:tabView id="#{id}" rendered="#{rendered or rendered!=false}"
                   style="background: transparent" styleClass="top-space"
                   dynamic="#{dynamic == true}" cache="#{cache == true}">
            <ui:insert/>
        </p:tabView>
    </c:if>

</ui:composition>