<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:themeSwitcher value="#{theme.theme}" var="th" converter="com.sunecity.lilium.jsf.themeConverter">
        <p:ajax event="change" process="@this" listener="#{theme.saveTheme()}"/>
        <f:selectItems value="#{theme.themes}" var="t" itemLabel="#{t.label}"/>
        <p:column>
            <h:outputText value="#{th.label}"/>
        </p:column>
        <p:column>
            <h:graphicImage alt="#{th.label}"
                            value="#{request.contextPath}/javax.faces.resource/sunecity/image/theme/#{th.file}.sect"
                            width="30" height="27"/>
        </p:column>
    </p:themeSwitcher>

</ui:composition>