<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:selectOneMenu value="#{theme.theme}"
		converter="com.sunecity.lilium.jsf.themeConverter">
		<p:ajax event="change" oncomplete="submit()"
			listener="#{theme.saveTheme()}" />
		<f:selectItems value="#{theme.themes}" var="t" itemLabel="#{t.label}" />
	</h:selectOneMenu>
</ui:composition>