<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">
    <p:outputLabel value="#{label}:" for="#{id}"/>
    <h:panelGroup>
        <pe:timePicker id="#{id}" value="#{value}" mode="#{mode!=null?mode:'spinner'}" showOn="button" label="#{label}"
                       dialogPosition="right top" rendered="#{rendered or rendered!=false}"
                       disabled="#{disabled or disabled==true}" required="#{required or required==true}"
                       tabindex="#{tabindex}" style="#{style}" styleClass="#{styleClass}">
            <f:converter converterId="#{converter!=null?converter:'com.sunecity.lilium.jsf.timeConverter'}"/>
            <ui:insert/>
        </pe:timePicker>
        <p:message for="#{id}" rendered="#{rendered or rendered!=false}"/>
    </h:panelGroup>
</ui:composition>