<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:s="http://sunecity.com/lilium/jsf">

    <c:if test="#{formId != null}">
        <h:form id="#{formId}">
            <p:panelGrid id="#{id}_pnlTree" columns="1" rendered="#{rendered or rendered!=false}">
                <f:facet name="header">
                    <p:outputPanel id="#{id}_pnlSearch" style="text-align: center">
                        <h:outputText value="#{header}"/>
                        <br/>
                        <p:outputPanel style="position: relative; display: inline-block;"
                                       rendered="#{search or search != false}">
                            <p:inputText value="#{bean.searchValue}" placeholder="جستجو" converter="stringConverter">
                                <p:commandLink id="#{id}_lnkSearch" process="@parent" update="#{id}"
                                               action="#{bean.btnSearchClick}"
                                               style="position: absolute; top: 20%; left: 5px;">
                                    <span class="fa fa-search" style="color: black"/>
                                </p:commandLink>
                                <p:commandLink process="@parent" update="@parent #{id}" action="#{bean.btnResetClick}"
                                               style="position: absolute; top: 20%; left: 20px;">
                                    <span class="fa fa-times" style="color: black"/>
                                </p:commandLink>
                            </p:inputText>
                            <p:defaultCommand scope="#{id}_pnlSearch" target="#{id}_lnkSearch"/>
                        </p:outputPanel>
                    </p:outputPanel>
                </f:facet>
                <p:scrollPanel mode="native"
                               style="width: 300px; min-height: 100px; max-height: calc(100vh - 400px); border: none;">
                    <h:panelGrid columns="1" border="0">
                        <p:tree id="#{id}" value="#{bean.root}" var="node" animate="true" cache="false" dynamic="true"
                                draggable="#{draggable or draggable == true}"
                                droppable="#{droppable or droppable == true}"
                                orientation="#{orientation == 'horizontal' ? 'horizontal' : 'vertical'}"
                                selection="#{selectionMode == 'checkbox' ? bean.selectedTreeNodes : bean.selectedTreeNode}"
                                selectionMode="#{selectionMode != null ? selectionMode : 'single'}"
                                propagateSelectionUp="false" dragdropScope="#{dragdropScope}"
                                tabindex="#{tabindex}" styleClass="#{styleClass}"
                                style="width: auto; border: none;">
                            <ui:insert/>
                        </p:tree>
                    </h:panelGrid>
                    <s:expression name="deleteActionMethod" value="#{deleteAction}"/>
                    <s:expression name="editActionMethod" value="#{editAction}"/>
                    <p:contextMenu for="#{id}" rendered="#{contextMenu or contextMenu != false}">
                        <ui:insert name="contextMenuFirst"/>
                        <p:menuitem value="جزییات" icon="fa fa-info" rendered="#{info or info != false}"
                                    action="#{bean.btnInfoClick}"
                                    oncomplete="openDialog(xhr, status, args, '#{infoWidgetVar}');"
                                    update="#{infoUpdate}"/>
                        <p:separator/>
                        <p:menuitem value="افزودن" icon="fa fa-plus" rendered="#{add or add != false}"/>
                        <p:menuitem value="ویرایش" icon="fa fa-edit" rendered="#{edit or edit != false}"
                                    action="#{editActionMethod}"
                                    oncomplete="openDialog(xhr, status, args, '#{editWidgetVar}');"
                                    update="#{editUpdate}"/>
                        <p:menuitem value="حذف" icon="fa fa-trash" rendered="#{delete or delete != false}"
                                    action="#{deleteActionMethod}"
                                    oncomplete="openDialog(xhr, status, args, '#{id}_dlgDelete');"/>
                        <p:separator/>
                        <p:menuitem value="برداشتن" icon="fa fa-cut" rendered="#{cut or cut != false}"
                                    action="#{bean.btnCutClick}"/>
                        <p:menuitem value="انداختن" icon="fa fa-paste" rendered="#{paste or paste != false}"
                                    update="#{id}_pnlTree" action="#{bean.btnPasteClick}"/>
                        <ui:insert name="contextMenuLast"/>
                    </p:contextMenu>
                    <p:dialog widgetVar="#{id}_dlgDelete" closeOnEscape="true"
                              header="#{sunecitybundle.deleteMessage}" appendTo="@(body)" modal="true"
                              closable="true" resizable="false" draggable="true" dynamic="true"
                              showEffect="fade" hideEffect="fade" rendered="#{delete!=false}">
                        <p:outputPanel>
                            <div align="center">
                                <p:commandButton value="#{sunecitybundle.yes}" action="#{bean.btnDeleteClick}"
                                                 process="@this" update="#{id}_pnlTree #{deleteUpdate}"
                                                 oncomplete="closeDialog(xhr, status, args, '#{id}_dlgDelete');"
                                                 styleClass="top-space" icon="fa fa-check"/>
                                <p:commandButton value="#{sunecitybundle.no}" process="@none"
                                                 onclick="closeDialog(xhr, status, args, '#{id}_dlgDelete');"
                                                 styleClass="top-space"
                                                 icon="fa fa-times"/>
                            </div>
                        </p:outputPanel>
                    </p:dialog>
                </p:scrollPanel>
            </p:panelGrid>
        </h:form>
    </c:if>
    <c:if test="#{formId == null}">
        <p:panelGrid id="#{id}_pnlTree" columns="1" rendered="#{rendered or rendered!=false}">
            <f:facet name="header">
                <p:outputPanel id="#{id}_pnlSearch" style="text-align: center">
                    <h:outputText value="#{header}"/>
                    <br/>
                    <p:outputPanel style="position: relative; display: inline-block;"
                                   rendered="#{search or search != false}" converter="stringConverter">
                        <p:inputText value="#{bean.searchValue}" placeholder="جستجو">
                            <p:commandLink id="#{id}_lnkSearch" process="@parent" update="#{id}"
                                           action="#{bean.btnSearchClick}"
                                           style="position: absolute; top: 20%; left: 5px;">
                                <span class="fa fa-search" style="color: black"/>
                            </p:commandLink>
                            <p:commandLink process="@parent" update="@parent #{id}" action="#{bean.btnResetClick}"
                                           style="position: absolute; top: 20%; left: 20px;">
                                <span class="fa fa-times" style="color: black"/>
                            </p:commandLink>
                        </p:inputText>
                        <p:defaultCommand scope="#{id}_pnlSearch" target="#{id}_lnkSearch"/>
                    </p:outputPanel>
                </p:outputPanel>
            </f:facet>
            <p:scrollPanel mode="native"
                           style="width: 300px; min-height: 200px; max-height: calc(100vh - 400px); border: none;">
                <h:panelGrid columns="1" border="0">
                    <p:tree id="#{id}" value="#{bean.root}" var="node" animate="true" cache="false" dynamic="true"
                            draggable="#{draggable or draggable == true}" droppable="#{droppable or droppable == true}"
                            orientation="#{orientation == 'horizontal' ? 'horizontal' : 'vertical'}"
                            selection="#{selectionMode == 'checkbox' ? bean.selectedTreeNodes : bean.selectedTreeNode}"
                            selectionMode="#{selectionMode != null ? selectionMode : 'single'}"
                            propagateSelectionUp="false"
                            dragdropScope="#{dragdropScope}" tabindex="#{tabindex}" styleClass="#{styleClass}"
                            style="width: auto; border: none;">
                        <ui:insert/>
                    </p:tree>
                </h:panelGrid>
                <s:expression name="deleteActionMethod" value="#{deleteAction}"/>
                <s:expression name="editActionMethod" value="#{editAction}"/>
                <p:contextMenu for="#{id}" rendered="#{contextMenu or contextMenu != false}">
                    <ui:insert name="contextMenuFirst"/>
                    <p:menuitem value="جزییات" icon="fa fa-info" rendered="#{info or info != false}"
                                action="#{bean.btnInfoClick}"
                                oncomplete="openDialog(xhr, status, args, '#{infoWidgetVar}');"
                                update="#{infoUpdate}"/>
                    <p:separator/>
                    <p:menuitem value="افزودن" icon="fa fa-plus" rendered="#{add or add != false}"/>
                    <p:menuitem value="ویرایش" icon="fa fa-edit" rendered="#{edit or edit != false}"
                                action="#{editActionMethod}"
                                oncomplete="openDialog(xhr, status, args, '#{editWidgetVar}');"
                                update="#{editUpdate}"/>
                    <p:menuitem value="حذف" icon="fa fa-trash" rendered="#{delete or delete != false}"
                                action="#{deleteActionMethod}"
                                oncomplete="openDialog(xhr, status, args, '#{id}_dlgDelete');"/>
                    <p:separator/>
                    <p:menuitem value="برداشتن" icon="fa fa-cut" rendered="#{cut or cut != false}"
                                action="#{bean.btnCutClick}"/>
                    <p:menuitem value="انداختن" icon="fa fa-paste" rendered="#{paste or paste != false}"
                                update="#{id}_pnlTree" action="#{bean.btnPasteClick}"/>
                    <ui:insert name="contextMenuLast"/>
                </p:contextMenu>
                <p:dialog widgetVar="#{id}_dlgDelete" closeOnEscape="true"
                          header="#{sunecitybundle.deleteMessage}" appendTo="@(body)" modal="true"
                          closable="true" resizable="false" draggable="true" dynamic="true"
                          showEffect="fade" hideEffect="fade" rendered="#{delete!=false}">
                    <p:outputPanel>
                        <div align="center">
                            <p:commandButton value="#{sunecitybundle.yes}" action="#{bean.btnDeleteClick}"
                                             process="@this" update="#{id}_pnlTree #{deleteUpdate}"
                                             oncomplete="closeDialog(xhr, status, args, '#{id}_dlgDelete');"
                                             styleClass="top-space" icon="fa fa-check"/>
                            <p:commandButton value="#{sunecitybundle.no}" process="@none"
                                             onclick="closeDialog(xhr, status, args, '#{id}_dlgDelete');"
                                             styleClass="top-space"
                                             icon="fa fa-times"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
            </p:scrollPanel>
        </p:panelGrid>
    </c:if>
</ui:composition>