<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:s="http://sunecity.com/lilium/jsf">

    <c:if test="#{formId != null}">
        <h:form id="#{formId}">
            <p:outputPanel id="#{id}_pnlTreeTable">
                <p:treeTable id="#{id}" value="#{bean.root}" var="var" nodeVar="node"
                             draggable="#{draggable or draggable == true}" droppable="#{droppable or droppable == true}"
                             selection="#{selectionMode == 'checkbox' ? bean.selectedTreeNodes : bean.selectedTreeNode}"
                             selectionMode="#{selectionMode != null ? selectionMode : 'single'}"
                             rowStyleClass="#{rowStyleClass}" resizableColumns="true"
                             emptyMessage="#{emptyMessage!=null?emptyMessage:sunecitybundle.emptyMessage}"
                             dragdropScope="#{dragdropScope}" rendered="#{rendered or rendered != false}"
                             tabindex="#{tabindex}" styleClass="#{styleClass}" tableStyle="table-layout: auto">
                    <f:facet name="header">
                        <p:outputPanel id="#{id}_pnlSearch" style="text-align: center">
                            <h:outputText value="#{header}"/>
                            <br/>
                            <p:outputPanel style="position: relative; display: inline-block;"
                                           rendered="#{search or search != false}">
                                <p:inputText value="#{bean.searchValue}" placeholder="جستجو">
                                    <p:commandLink id="#{id}_lnkSearch" process="@parent"
                                                   update="@form"
                                                   action="#{bean.btnSearchClick}"
                                                   style="position: absolute; top: 20%; left: 5px;">
                                        <span class="fa fa-search" style="color: black"/>
                                    </p:commandLink>
                                    <p:commandLink process="@parent" update="@parent #{id}"
                                                   action="#{bean.btnResetClick}"
                                                   style="position: absolute; top: 20%; left: 20px;">
                                        <span class="fa fa-times" style="color: black"/>
                                    </p:commandLink>
                                </p:inputText>
                                <p:defaultCommand scope="#{id}_pnlSearch" target="#{id}_lnkSearch"/>
                            </p:outputPanel>
                        </p:outputPanel>
                    </f:facet>
                    <f:facet name="footer">
                        <h:panelGroup rendered="#{edit!=false}">
                            <s:expression name="editActionMethod" value="#{editAction}"/>
                            <p:commandLink id="lnkUpdate" action="#{editActionMethod}" process="@widgetVar(#{id})"
                                           oncomplete="openDialog(xhr, status, args, '#{editWidgetVar}');"
                                           update="#{editUpdate}"
                                           disabled="#{bean.selectedTreeNode == null}">
                                <div class="fa fa-pencil-square fa-lg"/>
                            </p:commandLink>
                            <pe:tooltip for="lnkUpdate" myPosition="top right" value="ویرایش"/>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{delete!=false}">
                            <s:expression name="deleteActionMethod" value="#{deleteAction}"/>
                            <p:commandLink id="lnkDelete" action="#{deleteActionMethod}"
                                           oncomplete="openDialog(xhr, status, args, '#{id}_dlgDelete');"
                                           update="#{deleteUpdate}" process="@widgetVar(#{id})"
                                           disabled="#{bean.selectedTreeNode == null}">
                                <div class="fa fa-trash fa-lg"/>
                            </p:commandLink>
                            <pe:tooltip for="lnkDelete" myPosition="top right" value="حذف"/>
                        </h:panelGroup>
                    </f:facet>
                    <ui:insert/>
                </p:treeTable>
                <s:expression name="deleteActionMethod" value="#{deleteAction}"/>
                <s:expression name="editActionMethod" value="#{editAction}"/>
                <p:contextMenu for="#{id}" rendered="#{contextMenu or contextMenu != false}">
                    <p:menuitem value="افزودن" icon="fa fa-plus" rendered="#{add or add != false}"/>
                    <p:menuitem value="ویرایش" icon="fa fa-edit" rendered="#{edit or edit != false}"
                                action="#{editActionMethod}"
                                oncomplete="openDialog(xhr, status, args, '#{editWidgetVar}');"
                                update="#{editUpdate}"/>
                    <p:menuitem value="حذف" icon="fa fa-times" rendered="#{delete or delete != false}"
                                action="#{deleteActionMethod}"
                                oncomplete="openDialog(xhr, status, args, '#{id}_dlgDelete');"/>
                </p:contextMenu>
                <p:dialog widgetVar="#{id}_dlgDelete" closeOnEscape="true"
                          header="#{sunecitybundle.deleteMessage}" appendTo="@(body)" modal="true"
                          closable="true" resizable="false" draggable="true" dynamic="true"
                          showEffect="fade" hideEffect="fade" rendered="#{delete!=false}">
                    <p:outputPanel>
                        <div align="center">
                            <p:commandButton value="#{sunecitybundle.yes}" action="#{bean.btnDeleteClick}"
                                             process="@this" update="#{id}_pnlTreeTable #{deleteUpdate}"
                                             oncomplete="openDialog(xhr, status, args, widgetShow);^^^PF('#{id}_dlgDelete').hide()"
                                             styleClass="top-space" icon="fa fa-check"/>
                            <p:commandButton value="#{sunecitybundle.no}" process="@none"
                                             onclick="PF('#{id}_dlgDelete').hide()" styleClass="top-space"
                                             icon="fa fa-times"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
            </p:outputPanel>
        </h:form>
    </c:if>
    <c:if test="#{formId == null}">
        <p:outputPanel id="#{id}_pnlTreeTable">
            <p:treeTable id="#{id}" value="#{bean.root}" var="var" nodeVar="node"
                         draggable="#{draggable or draggable == true}" droppable="#{droppable or droppable == true}"
                         selection="#{selectionMode == 'checkbox' ? bean.selectedTreeNodes : bean.selectedTreeNode}"
                         selectionMode="#{selectionMode != null ? selectionMode : 'single'}"
                         rowStyleClass="#{rowStyleClass}" resizableColumns="true"
                         emptyMessage="#{emptyMessage!=null?emptyMessage:sunecitybundle.emptyMessage}"
                         dragdropScope="#{dragdropScope}" rendered="#{rendered or rendered != false}"
                         tabindex="#{tabindex}" styleClass="#{styleClass}" tableStyle="table-layout: auto">
                <f:facet name="header">
                    <p:outputPanel id="#{id}_pnlSearch" style="text-align: center">
                        <h:outputText value="#{header}"/>
                        <br/>
                        <p:outputPanel style="position: relative; display: inline-block;"
                                       rendered="#{search or search != false}">
                            <p:inputText value="#{bean.searchValue}" placeholder="جستجو">
                                <p:commandLink id="#{id}_lnkSearch" process="@parent"
                                               update="@form"
                                               action="#{bean.btnSearchClick}"
                                               style="position: absolute; top: 20%; left: 5px;">
                                    <span class="fa fa-search" style="color: black"/>
                                </p:commandLink>
                                <p:commandLink process="@parent" update="@parent #{id}"
                                               action="#{bean.btnResetClick}"
                                               style="position: absolute; top: 20%; left: 20px;">
                                    <span class="fa fa-times" style="color: black"/>
                                </p:commandLink>
                            </p:inputText>
                            <p:defaultCommand scope="#{id}_pnlSearch" target="#{id}_lnkSearch"/>
                        </p:outputPanel>
                    </p:outputPanel>
                </f:facet>
                <f:facet name="footer">
                    <h:panelGroup rendered="#{edit!=false}">
                        <s:expression name="editActionMethod" value="#{editAction}"/>
                        <p:commandLink id="lnkUpdate" action="#{editActionMethod}" process="@widgetVar(#{id})"
                                       oncomplete="openDialog(xhr, status, args, '#{editWidgetVar}');"
                                       update="#{editUpdate}"
                                       disabled="#{bean.selectedTreeNode == null}">
                            <div class="fa fa-pencil-square fa-lg"/>
                        </p:commandLink>
                        <pe:tooltip for="lnkUpdate" myPosition="top right" value="ویرایش"/>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{delete!=false}">
                        <s:expression name="deleteActionMethod" value="#{deleteAction}"/>
                        <p:commandLink id="lnkDelete" action="#{deleteActionMethod}"
                                       oncomplete="openDialog(xhr, status, args, '#{id}_dlgDelete');"
                                       update="#{deleteUpdate}" process="@widgetVar(#{id})"
                                       disabled="#{bean.selectedTreeNode == null}">
                            <div class="fa fa-trash fa-lg"/>
                        </p:commandLink>
                        <pe:tooltip for="lnkDelete" myPosition="top right" value="حذف"/>
                    </h:panelGroup>
                </f:facet>
                <ui:insert/>
            </p:treeTable>
            <s:expression name="deleteActionMethod" value="#{deleteAction}"/>
            <s:expression name="editActionMethod" value="#{editAction}"/>
            <p:contextMenu for="#{id}" rendered="#{contextMenu or contextMenu != false}">
                <p:menuitem value="افزودن" icon="fa fa-plus" rendered="#{add or add != false}"/>
                <p:menuitem value="ویرایش" icon="fa fa-edit" rendered="#{edit or edit != false}"
                            action="#{editActionMethod}"
                            oncomplete="openDialog(xhr, status, args, '#{editWidgetVar}');"
                            update="#{editUpdate}"/>
                <p:menuitem value="حذف" icon="fa fa-times" rendered="#{delete or delete != false}"
                            action="#{deleteActionMethod}"
                            oncomplete="openDialog(xhr, status, args, '#{id}_dlgDelete');"/>
            </p:contextMenu>
            <p:dialog widgetVar="#{id}_dlgDelete" closeOnEscape="true"
                      header="#{sunecitybundle.deleteMessage}" appendTo="@(body)" modal="true"
                      closable="true" resizable="false" draggable="true" dynamic="true"
                      showEffect="fade" hideEffect="fade" rendered="#{delete!=false}">
                <p:outputPanel>
                    <div align="center">
                        <p:commandButton value="#{sunecitybundle.yes}" action="#{bean.btnDeleteClick}"
                                         process="@this" update="#{id}_pnlTreeTable #{deleteUpdate}"
                                         oncomplete="PF('#{id}_dlgDelete').hide()"
                                         styleClass="top-space" icon="fa fa-check"/>
                        <p:commandButton value="#{sunecitybundle.no}" process="@none"
                                         onclick="PF('#{id}_dlgDelete').hide()" styleClass="top-space"
                                         icon="fa fa-times"/>
                    </div>
                </p:outputPanel>
            </p:dialog>
        </p:outputPanel>
    </c:if>
</ui:composition>