<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:outputLabel value="#{sunecitybundle['login.username']}:" for="#{id}" />
	<h:panelGroup>
		<p:inputText id="#{id}" value="#{value}"
			label="#{sunecitybundle['login.username']}" title="#{tooltip}" />
		<p:message for="#{id}" />
		<p:tooltip rendred="#{tooltip!=null}" for="#{id}" showEvent="focus"
			hideEvent="blur" />
		<p:watermark rendred="#{watermark!=null}" for="#{id}"
			value="#{watermark}" />
	</h:panelGroup>
</ui:composition>