<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:blockUI block="#{block}" trigger="#{trigger}">
		<h:outputText value="#{sunecitybundle.loading}" />
		<br />
        <div class="fa fa-spinner fa-pulse fa-3x"></div>
	</p:blockUI>
</ui:composition>