<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:contextMenu for="#{cc.attrs.tableId}">
		<p:menuitem value="info" oncomplete="#{cc.attrs.editWidgetVar}.show()" />
		<p:separator />
		<p:menuitem value="copy" action="#{cc.attrs.bean.btnCopyClick}" />
		<p:menuitem value="paste" action="#{cc.attrs.bean.btnPasteClick}" />
		<p:separator />
		<p:menuitem value="copy many"
			action="#{cc.attrs.bean.btnCopyManyClick}" />
		<p:menuitem value="paste man"
			action="#{cc.attrs.bean.btnPasteManyClick}" />
		<p:menuitem value="edit" oncomplete="#{cc.attrs.editWidgetVar}.show()" />
		<p:menuitem value="delete" oncomplete="dlgDelete.show()" />
		<p:menuitem value="delete many" oncomplete="dlgDeleteMany.show()" />
	</p:contextMenu>
</ui:composition>