<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite">
	<composite:interface>
		<composite:facet name="save" />
		<composite:facet name="table" />
		<composite:facet name="edit" />
	</composite:interface>
	<composite:implementation>
		<h:form id="frmAddCompany">
			<p:panel styleClass="top-space">
				<p:panelGrid columns="2">
					<f:facet name="header">
						<h:outputText
							value="#{mainsunecitybundle['basicInfo.company.companyCRUD.createNewCompany']}" />
					</f:facet>
					<f:facet name="footer">
						<p:message for="frmAddCompany" />
					</f:facet>
					<h:outputLabel value="#{companysunecitybundle.nationalId}:"
						for="nationalId" />
					<h:panelGroup>
						<p:inputText id="nationalId"
							value="#{companyCRUD.company.nationalId}" />
						<p:message for="nationalId" />
					</h:panelGroup>
					<h:outputText value="#{companysunecitybundle.name}:" />
					<h:panelGroup>
						<p:inputText id="name" value="#{companyCRUD.company.name}" />
						<p:message for="name" />
					</h:panelGroup>
				</p:panelGrid>
				<p:commandButton value="#{sunecitybundle.save}"
					action="#{companyCRUD.btnSaveClick}"
					update="frmAddCompany :frmCompanies :frmToolbar :growl"
					styleClass="top-space" icon="ui-icon-check" />
			</p:panel>
		</h:form>
		<h:form id="frmCompanies">
			<p:panel styleClass="top-space">
				<p:dataTable id="tblCompanies"
					value="#{companyCRUD.companyDataModel}" var="company"
					rowIndexVar="rowIndex" selectionMode="single"
					selection="#{companyCRUD.selectedCompany}" paginator="true"
					paginatorTemplate="#{sunecitybundle.paginatorTemplate}"
					currentPageReportTemplate="#{sunecitybundle.currentPageReportTemplate}"
					rows="#{companyCRUD.companyDataModel.rowsPerPage}"
					rowsPerPageTemplate="#{sunecitybundle.rowsPerPageTemplate}"
					emptyMessage="#{sunecitybundle.emptyMessage}" lazy="true"
					tableStyle="width:auto">
					<p:ajax event="rowSelect" update=":frmCompanyInfo"
						oncomplete="dlgCompanyInfo.show()" />
					<f:facet name="header">
						<h:outputText
							value="#{mainsunecitybundle['basicInfo.company.companyCRUD.viewAndEditCompanies']}" />
					</f:facet>
					<p:column headerText="#{sunecitybundle.row}">
						<div align="center">
							<h:outputText value="#{numbers.getText(rowIndex + 1)}" />
						</div>
					</p:column>
					<p:column headerText="#{companysunecitybundle.nationalId}"
						sortBy="#{company.nationalId}">
						<h:outputText value="#{numbers.getText(company.nationalId)}" />
					</p:column>
					<p:column headerText="#{companysunecitybundle.name}"
						sortBy="#{company.name}">
						<h:outputText value="#{company.name}" />
					</p:column>
					<p:column headerText="#{sunecitybundle.update}">
						<div align="center">
							<p:commandButton oncomplete="dlgCompanyEdit.show()"
								update=":frmCompanyEdit" icon="ui-icon-datatable-edit">
								<f:setPropertyActionListener
									target="#{companyCRUD.selectedCompany}" value="#{company}" />
							</p:commandButton>
						</div>
					</p:column>
					<p:column headerText="#{sunecitybundle.delete}">
						<div align="center">
							<p:commandButton oncomplete="dlgDeleteCompany.show()"
								icon="ui-icon-datatable-delete">
								<f:setPropertyActionListener
									target="#{companyCRUD.selectedCompany}" value="#{company}" />
							</p:commandButton>
						</div>
					</p:column>
					<!--
				<p:column>
					<f:facet name="header">
						<p:commandButton value="#{sunecitybundle.delete}"
							icon="ui-icon-datatable-delete" update=":frmCompanyDeleteMany"
							oncomplete="dlgDeleteManyCompany.show()" />
					</f:facet>
					<div align="center">
						<p:selectBooleanCheckbox
							value="#{companyCRUD.selectedItems[company.id]}">
							<p:ajax listener="#{companyCRUD.selectListener(company)}"/>
						</p:selectBooleanCheckbox>
					</div>
				</p:column>
		-->
				</p:dataTable>
				<p:blockUI block="tblCompanies" trigger="tblCompanies">
					<h:outputText value="#{sunecitybundle.load}" />
					<br />
                    <div class="fa fa-spinner fa-pulse fa-3x"></div>
				</p:blockUI>
			</p:panel>
			<p:contextMenu for="cars">
				<p:menuitem value="View" update="display" icon="ui-icon-search" />
				<p:separator />
				<p:menuitem value="Edit" icon="ui-icon-close" />
				<p:menuitem value="Delete" icon="ui-icon-close" />
				<p:separator />
				<p:menuitem value="Copy" icon="ui-icon-close" />
		</p:contextMenu>
		</h:form>
		<p:dialog widgetVar="dlgCompanyEdit" appendToBody="true" modal="true"
			header="#{sunecitybundle.edit}" resizable="true" showEffect="fade"
			hideEffect="fade">
			<div align="center">
				<h:form id="frmCompanyEdit">
					<p:panelGrid columns="2">
						<f:facet name="footer">
							<p:message for="frmCompanyEdit" />
						</f:facet>
						<h:outputLabel value="#{companysunecitybundle.nationalId}:"
							for="nationalIdEdit" />
						<h:panelGroup>
							<p:inputText id="nationalIdEdit"
								value="#{companyCRUD.selectedCompany.nationalId}" />
							<p:message for="nationalIdEdit" />
						</h:panelGroup>
						<h:outputLabel value="#{companysunecitybundle.name}:" for="nameEdit" />
						<h:panelGroup>
							<p:inputText id="nameEdit"
								value="#{companyCRUD.selectedCompany.name}" />
							<p:message for="nameEdit" />
						</h:panelGroup>
					</p:panelGrid>
					<p:commandButton value="#{sunecitybundle.update}"
						action="#{companyCRUD.btnUpdateClick}"
						update="frmCompanyEdit, :frmCompanies, :frmToolbar, :growl"
						oncomplete="closeDialog(xhr, status, args, dlgCompanyEdit)"
						styleClass="top-space" />
					<p:commandButton value="#{sunecitybundle.cancel}"
						oncomplete="dlgCompanyEdit.hide()" styleClass="top-space" />
				</h:form>
			</div>
		</p:dialog>
	</composite:implementation>
</ui:composition>