<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:form id="frmAddCompany">
		<p:panel styleClass="top-space">
			<p:panelGrid columns="2">
				<f:facet name="header">
					<h:outputText value="header" />
				</f:facet>
				<f:facet name="footer">
					<p:commandButton value="#{sunecitybundle.save}"
						action="#{cc.attrs.bean.btnSaveClick}" update="frmAddCompany"
						styleClass="top-space" icon="ui-icon-check" />
					<p:commandButton value="#{sunecitybundle.cancel}" process="@this"
						update="frmAddCompany">
						<p:resetInput target="frmAddCompany" />
					</p:commandButton>
				</f:facet>
				<ui:insert name="save" />
			</p:panelGrid>
		</p:panel>
	</h:form>
	<!--
		<h:form id="frmCompanies">
			<p:panel styleClass="top-space">
				<p:dataTable id="tblCompanies" value="#{cc.attrs.value}"
					var="#{cc.attrs.var}" rowIndexVar="rowIndex" selectionMode="single"
					selection="#{cc.attrs.bean.selectedEntity}" paginator="true"
					paginatorPosition="bottom"
					paginatorTemplate="#{sunecitybundle.paginatorTemplate}"
					currentPageReportTemplate="#{sunecitybundle.currentPageReportTemplate}"
					rows="5" rowsPerPageTemplate="#{sunecitybundle.rowsPerPageTemplate}"
					emptyMessage="#{sunecitybundle.emptyMessage}" lazy="true"
					tableStyle="width:auto">
					<f:facet name="header">
						<h:outputText value="header" />
					</f:facet>
					<p:column headerText="#{sunecitybundle.row}">
						<div align="center">
							<h:outputText value="#{numbers.getText(rowIndex + 1)}" />
						</div>
					</p:column>
					<composite:renderFacet name="table" />

					<p:column headerText="#{sunecitybundle.update}">
						<div align="center">
							<p:commandButton oncomplete="dlgCompanyEdit.show()"
								update=":frmCompanyEdit" icon="ui-icon-datatable-edit">
								<f:setPropertyActionListener
									target="#{companyCRUD.selectedCompany}" value="#{company}" />
							</p:commandButton>
						</div>
					</p:column>
					<p:column headerText="#{sunecitybundle.delete}">
						<div align="center">
							<p:commandButton oncomplete="dlgDeleteCompany.show()"
								icon="ui-icon-datatable-delete">
								<f:setPropertyActionListener
									target="#{companyCRUD.selectedCompany}" value="#{company}" />
							</p:commandButton>
						</div>
					</p:column>
					
				<p:column>
					<f:facet name="header">
						<p:commandButton value="#{sunecitybundle.delete}"
							icon="ui-icon-datatable-delete" update=":frmCompanyDeleteMany"
							oncomplete="dlgDeleteManyCompany.show()" />
					</f:facet>
					<div align="center">
						<p:selectBooleanCheckbox
							value="#{companyCRUD.selectedItems[company.id]}">
							<p:ajax listener="#{companyCRUD.selectListener(company)}"/>
						</p:selectBooleanCheckbox>
					</div>
				</p:column>

				</p:dataTable>
				<p:blockUI block="tblCompanies" trigger="tblCompanies">
					<h:outputText value="#{sunecitybundle.load}" />
					<br />
					<p:graphicImage value="/resources/image/ajax-loader.gif" />
				</p:blockUI>
			</p:panel>
			<p:contextMenu for="cars">
				<p:menuitem value="View" update="display" icon="ui-icon-search" />
				<p:separator />
				<p:menuitem value="Edit" icon="ui-icon-close" />
				<p:menuitem value="Delete" icon="ui-icon-close" />
				<p:separator />
				<p:menuitem value="Copy" icon="ui-icon-close" />
			</p:contextMenu>
		</h:form>
-->
	<p:dialog widgetVar="dlgCompanyEdit" appendToBody="true" modal="true"
		header="#{sunecitybundle.edit}" resizable="true" showEffect="fade"
		hideEffect="fade">
		<div align="center">
			<h:form id="frmCompanyEdit">
				<p:panelGrid columns="2">
					<f:facet name="footer">
						<p:message for="frmCompanyEdit" />
					</f:facet>
					<ui:insert name="update" />
				</p:panelGrid>
				<p:commandButton value="#{sunecitybundle.update}"
					action="#{cc.attrs.bean.btnUpdateClick}" update="frmCompanyEdit"
					oncomplete="closeDialog(xhr, status, args, dlgCompanyEdit)"
					styleClass="top-space" />
				<p:commandButton value="#{sunecitybundle.cancel}"
					oncomplete="dlgCompanyEdit.hide()" styleClass="top-space" />
			</h:form>
		</div>
	</p:dialog>

	<p:dialog widgetVar="idgetVar" appendToBody="true" modal="true"
		header="#{sunecitybundle.information}" resizable="true" showEffect="fade"
		hideEffect="fade">
		<h:form id="shg">
			<div align="center">
				<p:panelGrid columns="2">
					<f:facet name="header">
						<h:outputText value="head" />
					</f:facet>
					<f:facet name="footer">
						<p:commandButton value="#{sunecitybundle.close}"
							oncomplete="idgetVar.hide()" />
					</f:facet>
					<ui:insert name="info" />
				</p:panelGrid>
			</div>
		</h:form>
	</p:dialog>
</ui:composition>