<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:column headerText="#{sunecitybundle.delete}">
		<div align="center">
			<p:commandButton oncomplete="#{cc.attrs.widgetVar}.show()"
				icon="ui-icon-datatable-delete">
				<f:setPropertyActionListener target="#{cc.attrs.target}"
					value="#{cc.attrs.value}" />
			</p:commandButton>
		</div>
	</p:column>
</ui:composition>