<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:dialog widgetVar="#{cc.attrs.widgetVar}" header="#{sunecitybundle.confirm}"
		appendToBody="true" modal="true" closable="true" resizable="false"
		draggable="true" dynamic="true" showEffect="fade" hideEffect="fade">
		<h:form>
			<h:outputText value="#{sunecitybundle.deleteMessage}" />
			<div align="center">
				<p:commandButton value="#{sunecitybundle.yes}" action="#{cc.attrs.action}"
					update="#{cc.attrs.update}"
					oncomplete="#{cc.attrs.widgetVar}.hide()" styleClass="top-space" />
				<p:commandButton value="#{sunecitybundle.no}"
					oncomplete="#{cc.attrs.widgetVar}.hide()" styleClass="top-space" />
			</div>
		</h:form>
	</p:dialog>
</ui:composition>