<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:column>
		<f:facet name="header">
			<p:commandButton value="#{sunecitybundle.delete}"
				icon="ui-icon-datatable-delete" update="#{cc.attrs.update}"
				oncomplete="dlgDeleteManyCompany.show()" />
		</f:facet>
		<div align="center">
			<p:selectBooleanCheckbox
				value="#{cc.attrs.bean.selectedItems[cc.attrs.var.id]}">
				<p:ajax listener="#{cc.attrs.bean.selectListener(cc.attrs.var)}" />
			</p:selectBooleanCheckbox>
		</div>
	</p:column>
</ui:composition>