<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:dialog widgetVar="#{cc.attrs.widgetVar}"
		header="#{sunecitybundle.information}" appendToBody="true" modal="true"
		closable="true" resizable="false" draggable="true" dynamic="true"
		showEffect="fade" hideEffect="fade">
		<h:form id="#{cc.attrs.formId}">
			<div align="center">
				<p:panelGrid id="grdInfo" columns="#{cc.attrs.columns}">
					<f:facet name="header">
						<h:outputText value="#{cc.attrs.header}" />
					</f:facet>
					<f:facet name="footer">
						<div align="center">
							<p:commandButton value="#{sunecitybundle.close}" icon="fa fa-times"
								oncomplete="#{cc.attrs.widgetVar}.hide()" />
							<p:commandButton value="#{sunecitybundle.print}" icon="fa fa-print">
								<p:printer target=":#{cc.attrs.id}:#{cc.attrs.formId}:grdInfo" />
							</p:commandButton>
						</div>
					</f:facet>
				</p:panelGrid>
			</div>
		</h:form>
	</p:dialog>
</ui:composition>