<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:commandButton id="carBtn" value="Dynamic" type="button" />
	<p:dialog widgetVar="dlgInfo" header="#{sunecitybundle.information}"
		appendToBody="true" modal="true" closable="true" resizable="false"
		draggable="true" dynamic="true" showEffect="fade" hideEffect="fade">
		<h:form id="frmInfo">
			<div align="center">
				<p:dataTable id="tblValues" value="#{cc.attrs.bean.dataModel}"
					var="var" rowIndexVar="rowIndex" selectionMode="single"
					selection="#{cc.attrs.bean.selectedEntity}" paginator="true"
					paginatorPosition="bottom"
					paginatorTemplate="#{sunecitybundle.paginatorTemplate}"
					currentPageReportTemplate="#{sunecitybundle.currentPageReportTemplate}"
					rows="10" rowsPerPageTemplate="#{sunecitybundle.rowsPerPageTemplate}"
					emptyMessage="#{sunecitybundle.emptyMessage}" lazy="true"
					tableStyle="width:auto">
					<f:facet name="header">
						<h:outputText value="#{cc.attrs.header}" />
					</f:facet>
					<p:column headerText="#{sunecitybundle.row}">
						<div align="center">
							<h:outputText value="#{numbers.getText(rowIndex + 1)}" />
						</div>
					</p:column>
					<p:column headerText="#{sunecitybundle.choose}">
						<div align="center">
							<p:commandButton value="" action="">
								<f:setPropertyActionListener target="" value="#{var}" />
							</p:commandButton>
						</div>
					</p:column>
				</p:dataTable>
			</div>
		</h:form>
	</p:dialog>
</ui:composition>