<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:outputLabel rendered="#{rendered==null or rendered=='true'}"
		value="#{label}:" for="#{id}" />
	<h:panelGroup rendered="#{rendered==null or rendered=='true'}">
		<p:selectCheckboxMenu id="#{id}" value="#{value}" label="#{label}"
			converter="#{converterBean.converter(values)}" filter="true"
			filterMatchMode="contains">
			<f:selectItems value="#{values}" var="var" itemLabel="#{itemLabel}" />
			<ui:insert />
		</p:selectCheckboxMenu>
		<p:message for="#{id}" />
	</h:panelGroup>
</ui:composition>