<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html" locale="#{languages.locale}">
    <h:head>
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <h:outputStylesheet name="css/reset.css" library="sunecity"/>
        <title>خطای داخلی</title>
    </h:head>
    <h:body styleClass="red-background" dir="#{sunecitybundle.dir}">
        <f:facet name="last">
            <h:outputStylesheet name="css/error.css" library="sunecity"/>
        </f:facet>
        <h:form>
            <p:outputPanel styleClass="with-90 display-block margin-auto margin-top-perc-10 text-al-center">
                <p:outputPanel styleClass="with-33 margin-auto with-auto-on-mobile">
                    <p:outputPanel styleClass="empty-box-30"/>
                    <p:outputPanel styleClass="card shadow-effect">
                        <p:outputPanel styleClass="empty-box-20"/>
                        <i class="fa fa-cogs f-s-80 red"/>
                        <p:outputPanel styleClass="empty-box-20"/>
                        <p:outputPanel styleClass="with-100 f-s-30 padding-2-pixel red">
                            <h:outputText value="یک خطای داخلی رخ داده است!"/>
                        </p:outputPanel>
                        <p:outputPanel styleClass="empty-box-10"/>
                        <p:outputPanel styleClass="with-100 overflow-hidden f-s-20 bold-gray">
                            <h:outputText value="لطفا دوباره تلاش کنید."/>
                        </p:outputPanel>
                        <p:outputPanel styleClass="empty-box-20"/>
                        <p:outputPanel styleClass="separator"/>
                        <p:outputPanel styleClass="empty-box-10"/>
                        <p:outputPanel styleClass="with-100">
                            <p:commandButton value="بازگشت به صفحه اصلی"
                                             action="#{dispatcher.redirect('/pages/home.xhtml')}"
                                             ajax="false" styleClass="with-60"
                                             style="background-color: #E53935; padding: 10px; border: none; color: #ffffff"/>
                        </p:outputPanel>
                    </p:outputPanel>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>
    </h:body>
</f:view>

</html>